In [1]:
import pandas as pd

# Function to count substring in a single string (safe for NaN)
def count_substring(text, substring):
    if pd.isna(text):
        return 0
    return text.count(substring)

In [2]:
# Sample DataFrame with multiple text columns
df = pd.DataFrame({
    'col1': ['apple banana', 'banana orange', 'apple', None],
    'col2': ['apple pie', 'banana', 'grape apple', 'apple banana apple'],
    'col3': [123, 'apple', 'apple banana', 'banana']  # includes non-string cell
})

In [3]:
df

            col1                col2          col3
0   apple banana           apple pie           123
1  banana orange              banana         apple
2          apple         grape apple  apple banana
3           None  apple banana apple        banana

In [4]:
# Apply the function to count 'apple'
df['count'] = df.apply(lambda row: sum(count_substring(cell, "apple") for cell in row if isinstance(cell, str)), axis=1)

In [5]:
df

            col1                col2          col3  count
0   apple banana           apple pie           123      2
1  banana orange              banana         apple      1
2          apple         grape apple  apple banana      3
3           None  apple banana apple        banana      2