In [23]:
import pandas as pd

# Load input file in csv format

In [24]:
infile = "../vn_data/input/per_gene/SIGMAR1.chr9.csv"

In [25]:
outfile = "../vn_data/output/per_gene/SIGMAR1.chr9.csv"

In [26]:
df = pd.read_csv(infile)

# Check data frame content

In [27]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,9,34634868,.,G,A,.,PASS,AC=16;AN=5096;DP=22184;AF=0;EAS_AF=0.02;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,9,34635340,.,T,G,.,PASS,AC=176;AN=5096;DP=31944;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,9,34635484,.,C,T,.,PASS,AC=1;AN=5096;DP=68046;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1
3,9,34635682,.,G,A,.,PASS,AC=65;AN=5096;DP=277336;AF=0.01;EAS_AF=0.03;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,9,34636228,.,G,C,.,PASS,AC=176;AN=5096;DP=20551;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

# Check the columns in the data frame

In [28]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02137', 'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142',
       'HG02512', 'HG02513', 'HG02521', 'HG02522'],
      dtype='object', length=108)

In [29]:
df.shape

(12, 108)

# Extract a smaller data frame to debug and manually verify

In [30]:
#df = df.iloc[0:5,0:15]

In [31]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,9,34634868,.,G,A,.,PASS,AC=16;AN=5096;DP=22184;AF=0;EAS_AF=0.02;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,9,34635340,.,T,G,.,PASS,AC=176;AN=5096;DP=31944;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,9,34635484,.,C,T,.,PASS,AC=1;AN=5096;DP=68046;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1
3,9,34635682,.,G,A,.,PASS,AC=65;AN=5096;DP=277336;AF=0.01;EAS_AF=0.03;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,9,34636228,.,G,C,.,PASS,AC=176;AN=5096;DP=20551;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
5,9,34636402,.,G,A,.,PASS,AC=211;AN=5096;DP=17675;AF=0.04;EAS_AF=0.02;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
6,9,34636597,.,T,C,.,PASS,AC=1904;AN=5096;DP=45894;AF=0.37;EAS_AF=0.51;E...,GT,1|0,...,1|1,1|0,1|1,0|1,1|1,0|1,1|0,0|1,1|0,0|1
7,9,34636601,.,C,A,.,PASS,AC=197;AN=5096;DP=47637;AF=0.04;EAS_AF=0.17;EU...,GT,0|0,...,0|0,0|0,1|0,0|0,0|1,0|1,0|0,0|0,0|0,0|0
8,9,34636826,.,G,C,.,PASS,AC=211;AN=5096;DP=85325;AF=0.04;EAS_AF=0.02;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
9,9,34637269,.,G,A,.,PASS,AC=3;AN=5096;DP=71574;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
10,9,34637332,.,C,T,.,PASS,AC=92;AN=5096;DP=75322;AF=0.02;EAS_AF=0.08;EUR...,GT,0|0,...,0|0,1|0,0|1,0|0,0|0,0|0,0|0,0|0,0|0,0|0
11,9,34637693,.,T,G,.,PASS,AC=1110;AN=5096;DP=22972;AF=0.22;EAS_AF=0.32;E...,GT,0|1,...,0|0,0|1,0|0,0|0,0|0,0|0,0|1,1|0,0|0,1|0

In [32]:
# Function to count substring in a row, looping through all cell in the row
def count_each_row(row, substr):
    count = 0  # first, initialize count to zero
    for cell in row:
        if pd.isna(cell):
            continue # if the cell is None, go to the next cell in the row
        if not isinstance(cell, str):
            continue # if the cell is not a string, go to the next cell in the row
        if cell == substr:
            count = count + 1 # if the cell matches the inpug substring, then increases the count by 1
            
    return count # return the total count

In [33]:
df['c00'] = df.apply(count_each_row, axis=1, substr="0|0")

In [34]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00
0,9,34634868,.,G,A,.,PASS,AC=16;AN=5096;DP=22184;AF=0;EAS_AF=0.02;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,96
1,9,34635340,.,T,G,.,PASS,AC=176;AN=5096;DP=31944;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
2,9,34635484,.,C,T,.,PASS,AC=1;AN=5096;DP=68046;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1,98
3,9,34635682,.,G,A,.,PASS,AC=65;AN=5096;DP=277336;AF=0.01;EAS_AF=0.03;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,95
4,9,34636228,.,G,C,.,PASS,AC=176;AN=5096;DP=20551;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98

In [35]:
df['c10'] = df.apply(count_each_row, axis=1, substr="1|0")

In [36]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10
0,9,34634868,.,G,A,.,PASS,AC=16;AN=5096;DP=22184;AF=0;EAS_AF=0.02;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,96,2
1,9,34635340,.,T,G,.,PASS,AC=176;AN=5096;DP=31944;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0
2,9,34635484,.,C,T,.,PASS,AC=1;AN=5096;DP=68046;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1,98,0
3,9,34635682,.,G,A,.,PASS,AC=65;AN=5096;DP=277336;AF=0.01;EAS_AF=0.03;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,95,2
4,9,34636228,.,G,C,.,PASS,AC=176;AN=5096;DP=20551;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0

In [37]:
df['c01'] = df.apply(count_each_row, axis=1, substr="0|1")

In [38]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01
0,9,34634868,.,G,A,.,PASS,AC=16;AN=5096;DP=22184;AF=0;EAS_AF=0.02;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,96,2,1
1,9,34635340,.,T,G,.,PASS,AC=176;AN=5096;DP=31944;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1
2,9,34635484,.,C,T,.,PASS,AC=1;AN=5096;DP=68046;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|1,98,0,1
3,9,34635682,.,G,A,.,PASS,AC=65;AN=5096;DP=277336;AF=0.01;EAS_AF=0.03;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,95,2,2
4,9,34636228,.,G,C,.,PASS,AC=176;AN=5096;DP=20551;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1

In [39]:
df['c11'] = df.apply(count_each_row, axis=1, substr="1|1")

In [40]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11
0,9,34634868,.,G,A,.,PASS,AC=16;AN=5096;DP=22184;AF=0;EAS_AF=0.02;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,96,2,1,0
1,9,34635340,.,T,G,.,PASS,AC=176;AN=5096;DP=31944;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1,0
2,9,34635484,.,C,T,.,PASS,AC=1;AN=5096;DP=68046;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|1,98,0,1,0
3,9,34635682,.,G,A,.,PASS,AC=65;AN=5096;DP=277336;AF=0.01;EAS_AF=0.03;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,95,2,2,0
4,9,34636228,.,G,C,.,PASS,AC=176;AN=5096;DP=20551;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1,0

# Create a new column for the count of the number of 1's

In [41]:
df['c1s'] = df['c10'] + df['c01'] + 2 * df['c11']

In [42]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,9,34634868,.,G,A,.,PASS,AC=16;AN=5096;DP=22184;AF=0;EAS_AF=0.02;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,96,2,1,0,3
1,9,34635340,.,T,G,.,PASS,AC=176;AN=5096;DP=31944;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
2,9,34635484,.,C,T,.,PASS,AC=1;AN=5096;DP=68046;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|1,98,0,1,0,1
3,9,34635682,.,G,A,.,PASS,AC=65;AN=5096;DP=277336;AF=0.01;EAS_AF=0.03;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,95,2,2,0,4
4,9,34636228,.,G,C,.,PASS,AC=176;AN=5096;DP=20551;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1

In [43]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,9,34634868,.,G,A,.,PASS,AC=16;AN=5096;DP=22184;AF=0;EAS_AF=0.02;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,96,2,1,0,3
1,9,34635340,.,T,G,.,PASS,AC=176;AN=5096;DP=31944;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
2,9,34635484,.,C,T,.,PASS,AC=1;AN=5096;DP=68046;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|1,98,0,1,0,1
3,9,34635682,.,G,A,.,PASS,AC=65;AN=5096;DP=277336;AF=0.01;EAS_AF=0.03;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,95,2,2,0,4
4,9,34636228,.,G,C,.,PASS,AC=176;AN=5096;DP=20551;AF=0.03;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
5,9,34636402,.,G,A,.,PASS,AC=211;AN=5096;DP=17675;AF=0.04;EAS_AF=0.02;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,96,3,0,0,3
6,9,34636597,.,T,C,.,PASS,AC=1904;AN=5096;DP=45894;AF=0.37;EAS_AF=0.51;E...,GT,1|0,...,0|1,1|0,0|1,1|0,0|1,19,27,22,31,111
7,9,34636601,.,C,A,.,PASS,AC=197;AN=5096;DP=47637;AF=0.04;EAS_AF=0.17;EU...,GT,0|0,...,0|1,0|0,0|0,0|0,0|0,66,15,11,7,40
8,9,34636826,.,G,C,.,PASS,AC=211;AN=5096;DP=85325;AF=0.04;EAS_AF=0.02;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,96,3,0,0,3
9,9,34637269,.,G,A,.,PASS,AC=3;AN=5096;DP=71574;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,2,0,0,2
10,9,34637332,.,C,T,.,PASS,AC=92;AN=5096;DP=75322;AF=0.02;EAS_AF=0.08;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,79,11,9,0,20
11,9,34637693,.,T,G,.,PASS,AC=1110;AN=5096;DP=22972;AF=0.22;EAS_AF=0.32;E...,GT,0|1,...,0|0,0|1,1|0,0|0,1|0,53,16,27,3,49

# Save the output file to output folder

In [44]:
df.to_csv(outfile, index=False)