In [23]:
import pandas as pd

# Load input file in csv format

In [24]:
infile = "../vn_data/input/per_gene/CHRNA3.chr15.csv"

In [25]:
outfile = "../vn_data/output/per_gene/CHRNA3.chr15.csv"

In [26]:
df = pd.read_csv(infile)

# Check data frame content

In [27]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,15,78593232,.,T,A,.,PASS,AC=280;AN=5096;DP=331614;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|0,0|1,0|0,0|0,0|0,1|0,0|1,0|0,0|0
1,15,78593273,.,G,GTA,.,PASS,AC=280;AN=5096;DP=283978;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|0,0|1,0|0,0|0,0|0,1|0,0|1,0|0,0|0
2,15,78593646,.,T,C,.,PASS,AC=3608;AN=5096;DP=21134;AF=0.71;EAS_AF=0.83;E...,GT,1|1,...,1|1,1|1,0|1,1|1,0|0,1|0,1|1,1|1,0|1,0|1
3,15,78593763,.,G,A,.,PASS,AC=3;AN=5096;DP=20019;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,15,78593807,.,G,A,.,PASS,AC=22;AN=5096;DP=19428;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

# Check the columns in the data frame

In [28]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02137', 'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142',
       'HG02512', 'HG02513', 'HG02521', 'HG02522'],
      dtype='object', length=108)

In [29]:
df.shape

(176, 108)

# Extract a smaller data frame to debug and manually verify

In [30]:
#df = df.iloc[0:5,0:15]

In [31]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,15,78593232,.,T,A,.,PASS,AC=280;AN=5096;DP=331614;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|0,0|1,0|0,0|0,0|0,1|0,0|1,0|0,0|0
1,15,78593273,.,G,GTA,.,PASS,AC=280;AN=5096;DP=283978;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|0,0|1,0|0,0|0,0|0,1|0,0|1,0|0,0|0
2,15,78593646,.,T,C,.,PASS,AC=3608;AN=5096;DP=21134;AF=0.71;EAS_AF=0.83;E...,GT,1|1,...,1|1,1|1,0|1,1|1,0|0,1|0,1|1,1|1,0|1,0|1
3,15,78593763,.,G,A,.,PASS,AC=3;AN=5096;DP=20019;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,15,78593807,.,G,A,.,PASS,AC=22;AN=5096;DP=19428;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,15,78620601,.,G,A,.,PASS,AC=1855;AN=5096;DP=14390;AF=0.36;EAS_AF=0.47;E...,GT,0|1,...,1|0,1|1,0|0,1|1,0|0,1|0,0|1,1|0,0|1,0|1
172,15,78620702,.,T,C,.,PASS,AC=805;AN=5096;DP=15224;AF=0.16;EAS_AF=0.33;EU...,GT,1|0,...,0|1,0|0,0|1,0|0,0|0,0|0,1|0,0|1,0|0,0|0
173,15,78620789,.,G,A,.,PASS,AC=288;AN=5096;DP=11361;AF=0.06;EAS_AF=0.27;EU...,GT,0|0,...,0|1,0|0,0|1,0|0,0|0,0|0,1|0,0|1,0|0,0|0
174,15,78620965,.,G,C,.,PASS,AC=5;AN=5096;DP=9383;AF=0;EAS_AF=0;EUR_AF=0;AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
175,15,78620974,.,G,A,.,PASS,AC=2;AN=5096;DP=9230;AF=0;EAS_AF=0;EUR_AF=0;AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [32]:
# Function to count substring in a row, looping through all cell in the row
def count_each_row(row, substr):
    count = 0  # first, initialize count to zero
    for cell in row:
        if pd.isna(cell):
            continue # if the cell is None, go to the next cell in the row
        if not isinstance(cell, str):
            continue # if the cell is not a string, go to the next cell in the row
        if cell == substr:
            count = count + 1 # if the cell matches the inpug substring, then increases the count by 1
            
    return count # return the total count

In [33]:
df['c00'] = df.apply(count_each_row, axis=1, substr="0|0")

In [34]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00
0,15,78593232,.,T,A,.,PASS,AC=280;AN=5096;DP=331614;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|1,0|0,0|0,0|0,1|0,0|1,0|0,0|0,60
1,15,78593273,.,G,GTA,.,PASS,AC=280;AN=5096;DP=283978;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|1,0|0,0|0,0|0,1|0,0|1,0|0,0|0,60
2,15,78593646,.,T,C,.,PASS,AC=3608;AN=5096;DP=21134;AF=0.71;EAS_AF=0.83;E...,GT,1|1,...,1|1,0|1,1|1,0|0,1|0,1|1,1|1,0|1,0|1,7
3,15,78593763,.,G,A,.,PASS,AC=3;AN=5096;DP=20019;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
4,15,78593807,.,G,A,.,PASS,AC=22;AN=5096;DP=19428;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,95

In [35]:
df['c10'] = df.apply(count_each_row, axis=1, substr="1|0")

In [36]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10
0,15,78593232,.,T,A,.,PASS,AC=280;AN=5096;DP=331614;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|1,0|0,0|0,0|0,1|0,0|1,0|0,0|0,60,16
1,15,78593273,.,G,GTA,.,PASS,AC=280;AN=5096;DP=283978;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|1,0|0,0|0,0|0,1|0,0|1,0|0,0|0,60,16
2,15,78593646,.,T,C,.,PASS,AC=3608;AN=5096;DP=21134;AF=0.71;EAS_AF=0.83;E...,GT,1|1,...,0|1,1|1,0|0,1|0,1|1,1|1,0|1,0|1,7,17
3,15,78593763,.,G,A,.,PASS,AC=3;AN=5096;DP=20019;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1
4,15,78593807,.,G,A,.,PASS,AC=22;AN=5096;DP=19428;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,95,3

In [37]:
df['c01'] = df.apply(count_each_row, axis=1, substr="0|1")

In [38]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01
0,15,78593232,.,T,A,.,PASS,AC=280;AN=5096;DP=331614;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|0,0|0,1|0,0|1,0|0,0|0,60,16,21
1,15,78593273,.,G,GTA,.,PASS,AC=280;AN=5096;DP=283978;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|0,0|0,1|0,0|1,0|0,0|0,60,16,21
2,15,78593646,.,T,C,.,PASS,AC=3608;AN=5096;DP=21134;AF=0.71;EAS_AF=0.83;E...,GT,1|1,...,1|1,0|0,1|0,1|1,1|1,0|1,0|1,7,17,22
3,15,78593763,.,G,A,.,PASS,AC=3;AN=5096;DP=20019;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0
4,15,78593807,.,G,A,.,PASS,AC=22;AN=5096;DP=19428;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,95,3,1

In [39]:
df['c11'] = df.apply(count_each_row, axis=1, substr="1|1")

In [40]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11
0,15,78593232,.,T,A,.,PASS,AC=280;AN=5096;DP=331614;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|0,1|0,0|1,0|0,0|0,60,16,21,2
1,15,78593273,.,G,GTA,.,PASS,AC=280;AN=5096;DP=283978;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|0,1|0,0|1,0|0,0|0,60,16,21,2
2,15,78593646,.,T,C,.,PASS,AC=3608;AN=5096;DP=21134;AF=0.71;EAS_AF=0.83;E...,GT,1|1,...,0|0,1|0,1|1,1|1,0|1,0|1,7,17,22,53
3,15,78593763,.,G,A,.,PASS,AC=3;AN=5096;DP=20019;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0,0
4,15,78593807,.,G,A,.,PASS,AC=22;AN=5096;DP=19428;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,95,3,1,0

# Create a new column for the count of the number of 1's

In [41]:
df['c1s'] = df['c10'] + df['c01'] + 2 * df['c11']

In [42]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,15,78593232,.,T,A,.,PASS,AC=280;AN=5096;DP=331614;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,1|0,0|1,0|0,0|0,60,16,21,2,41
1,15,78593273,.,G,GTA,.,PASS,AC=280;AN=5096;DP=283978;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,1|0,0|1,0|0,0|0,60,16,21,2,41
2,15,78593646,.,T,C,.,PASS,AC=3608;AN=5096;DP=21134;AF=0.71;EAS_AF=0.83;E...,GT,1|1,...,1|0,1|1,1|1,0|1,0|1,7,17,22,53,145
3,15,78593763,.,G,A,.,PASS,AC=3;AN=5096;DP=20019;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
4,15,78593807,.,G,A,.,PASS,AC=22;AN=5096;DP=19428;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,95,3,1,0,4

In [43]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,15,78593232,.,T,A,.,PASS,AC=280;AN=5096;DP=331614;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,1|0,0|1,0|0,0|0,60,16,21,2,41
1,15,78593273,.,G,GTA,.,PASS,AC=280;AN=5096;DP=283978;AF=0.05;EAS_AF=0.26;E...,GT,0|0,...,0|0,1|0,0|1,0|0,0|0,60,16,21,2,41
2,15,78593646,.,T,C,.,PASS,AC=3608;AN=5096;DP=21134;AF=0.71;EAS_AF=0.83;E...,GT,1|1,...,1|0,1|1,1|1,0|1,0|1,7,17,22,53,145
3,15,78593763,.,G,A,.,PASS,AC=3;AN=5096;DP=20019;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
4,15,78593807,.,G,A,.,PASS,AC=22;AN=5096;DP=19428;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,95,3,1,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,15,78620601,.,G,A,.,PASS,AC=1855;AN=5096;DP=14390;AF=0.36;EAS_AF=0.47;E...,GT,0|1,...,1|0,0|1,1|0,0|1,0|1,34,23,25,17,82
172,15,78620702,.,T,C,.,PASS,AC=805;AN=5096;DP=15224;AF=0.16;EAS_AF=0.33;EU...,GT,1|0,...,0|0,1|0,0|1,0|0,0|0,48,16,25,10,61
173,15,78620789,.,G,A,.,PASS,AC=288;AN=5096;DP=11361;AF=0.06;EAS_AF=0.27;EU...,GT,0|0,...,0|0,1|0,0|1,0|0,0|0,58,14,24,3,44
174,15,78620965,.,G,C,.,PASS,AC=5;AN=5096;DP=9383;AF=0;EAS_AF=0;EUR_AF=0;AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
175,15,78620974,.,G,A,.,PASS,AC=2;AN=5096;DP=9230;AF=0;EAS_AF=0;EUR_AF=0;AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1

# Save the output file to output folder

In [44]:
df.to_csv(outfile, index=False)