In [23]:
import pandas as pd

# Load input file in csv format

In [24]:
infile = "../vn_data/input/per_gene/CREST.chr20.csv"

In [25]:
outfile = "../vn_data/output/per_gene/CREST.chr20.csv"

In [26]:
df = pd.read_csv(infile)

# Check data frame content

In [27]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,20,62144292,.,T,C,.,PASS,AC=3430;AN=5096;DP=11503;AF=0.67;EAS_AF=0.77;E...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|0,1|1,1|0,1|0,1|1
1,20,62144417,.,C,T,.,PASS,AC=1;AN=5096;DP=14918;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,20,62144538,.,C,T,.,PASS,AC=365;AN=5096;DP=17418;AF=0.07;EAS_AF=0.01;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,20,62144730,.,T,C,.,PASS,AC=581;AN=5096;DP=25232;AF=0.11;EAS_AF=0.04;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,20,62145318,.,A,AG,.,PASS,AC=4068;AN=5096;DP=21440;AF=0.8;EAS_AF=0.81;EU...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|0,1|1,1|0,1|0,1|1

# Check the columns in the data frame

In [28]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02137', 'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142',
       'HG02512', 'HG02513', 'HG02521', 'HG02522'],
      dtype='object', length=108)

In [29]:
df.shape

(240, 108)

# Extract a smaller data frame to debug and manually verify

In [30]:
#df = df.iloc[0:5,0:15]

In [31]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,20,62144292,.,T,C,.,PASS,AC=3430;AN=5096;DP=11503;AF=0.67;EAS_AF=0.77;E...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|0,1|1,1|0,1|0,1|1
1,20,62144417,.,C,T,.,PASS,AC=1;AN=5096;DP=14918;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,20,62144538,.,C,T,.,PASS,AC=365;AN=5096;DP=17418;AF=0.07;EAS_AF=0.01;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,20,62144730,.,T,C,.,PASS,AC=581;AN=5096;DP=25232;AF=0.11;EAS_AF=0.04;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,20,62145318,.,A,AG,.,PASS,AC=4068;AN=5096;DP=21440;AF=0.8;EAS_AF=0.81;EU...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|0,1|1,1|0,1|0,1|1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,20,62181291,.,G,A,.,PASS,AC=7;AN=5096;DP=23194;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
236,20,62182039,.,A,G,.,PASS,AC=1;AN=5096;DP=23748;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
237,20,62182271,.,CTG,C,.,PASS,AC=2;AN=5096;DP=21357;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
238,20,62182389,.,CATCCTT,C,.,PASS,AC=619;AN=5096;DP=21456;AF=0.12;EAS_AF=0.19;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|1,0|0,0|1,0|1,0|0
239,20,62182433,.,A,G,.,PASS,AC=1193;AN=5096;DP=22432;AF=0.23;EAS_AF=0.19;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|1,0|0,0|1,0|1,0|0

In [32]:
# Function to count substring in a row, looping through all cell in the row
def count_each_row(row, substr):
    count = 0  # first, initialize count to zero
    for cell in row:
        if pd.isna(cell):
            continue # if the cell is None, go to the next cell in the row
        if not isinstance(cell, str):
            continue # if the cell is not a string, go to the next cell in the row
        if cell == substr:
            count = count + 1 # if the cell matches the inpug substring, then increases the count by 1
            
    return count # return the total count

In [33]:
df['c00'] = df.apply(count_each_row, axis=1, substr="0|0")

In [34]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00
0,20,62144292,.,T,C,.,PASS,AC=3430;AN=5096;DP=11503;AF=0.67;EAS_AF=0.77;E...,GT,1|1,...,1|1,1|1,1|1,1|1,1|0,1|1,1|0,1|0,1|1,6
1,20,62144417,.,C,T,.,PASS,AC=1;AN=5096;DP=14918;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
2,20,62144538,.,C,T,.,PASS,AC=365;AN=5096;DP=17418;AF=0.07;EAS_AF=0.01;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97
3,20,62144730,.,T,C,.,PASS,AC=581;AN=5096;DP=25232;AF=0.11;EAS_AF=0.04;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,91
4,20,62145318,.,A,AG,.,PASS,AC=4068;AN=5096;DP=21440;AF=0.8;EAS_AF=0.81;EU...,GT,1|1,...,1|1,1|1,1|1,1|1,1|0,1|1,1|0,1|0,1|1,2

In [35]:
df['c10'] = df.apply(count_each_row, axis=1, substr="1|0")

In [36]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10
0,20,62144292,.,T,C,.,PASS,AC=3430;AN=5096;DP=11503;AF=0.67;EAS_AF=0.77;E...,GT,1|1,...,1|1,1|1,1|1,1|0,1|1,1|0,1|0,1|1,6,22
1,20,62144417,.,C,T,.,PASS,AC=1;AN=5096;DP=14918;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0
2,20,62144538,.,C,T,.,PASS,AC=365;AN=5096;DP=17418;AF=0.07;EAS_AF=0.01;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97,1
3,20,62144730,.,T,C,.,PASS,AC=581;AN=5096;DP=25232;AF=0.11;EAS_AF=0.04;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,91,5
4,20,62145318,.,A,AG,.,PASS,AC=4068;AN=5096;DP=21440;AF=0.8;EAS_AF=0.81;EU...,GT,1|1,...,1|1,1|1,1|1,1|0,1|1,1|0,1|0,1|1,2,23

In [37]:
df['c01'] = df.apply(count_each_row, axis=1, substr="0|1")

In [38]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01
0,20,62144292,.,T,C,.,PASS,AC=3430;AN=5096;DP=11503;AF=0.67;EAS_AF=0.77;E...,GT,1|1,...,1|1,1|1,1|0,1|1,1|0,1|0,1|1,6,22,22
1,20,62144417,.,C,T,.,PASS,AC=1;AN=5096;DP=14918;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1
2,20,62144538,.,C,T,.,PASS,AC=365;AN=5096;DP=17418;AF=0.07;EAS_AF=0.01;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97,1,1
3,20,62144730,.,T,C,.,PASS,AC=581;AN=5096;DP=25232;AF=0.11;EAS_AF=0.04;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,91,5,3
4,20,62145318,.,A,AG,.,PASS,AC=4068;AN=5096;DP=21440;AF=0.8;EAS_AF=0.81;EU...,GT,1|1,...,1|1,1|1,1|0,1|1,1|0,1|0,1|1,2,23,21

In [39]:
df['c11'] = df.apply(count_each_row, axis=1, substr="1|1")

In [40]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11
0,20,62144292,.,T,C,.,PASS,AC=3430;AN=5096;DP=11503;AF=0.67;EAS_AF=0.77;E...,GT,1|1,...,1|1,1|0,1|1,1|0,1|0,1|1,6,22,22,49
1,20,62144417,.,C,T,.,PASS,AC=1;AN=5096;DP=14918;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1,0
2,20,62144538,.,C,T,.,PASS,AC=365;AN=5096;DP=17418;AF=0.07;EAS_AF=0.01;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,97,1,1,0
3,20,62144730,.,T,C,.,PASS,AC=581;AN=5096;DP=25232;AF=0.11;EAS_AF=0.04;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,91,5,3,0
4,20,62145318,.,A,AG,.,PASS,AC=4068;AN=5096;DP=21440;AF=0.8;EAS_AF=0.81;EU...,GT,1|1,...,1|1,1|0,1|1,1|0,1|0,1|1,2,23,21,53

# Create a new column for the count of the number of 1's

In [41]:
df['c1s'] = df['c10'] + df['c01'] + 2 * df['c11']

In [42]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,20,62144292,.,T,C,.,PASS,AC=3430;AN=5096;DP=11503;AF=0.67;EAS_AF=0.77;E...,GT,1|1,...,1|0,1|1,1|0,1|0,1|1,6,22,22,49,142
1,20,62144417,.,C,T,.,PASS,AC=1;AN=5096;DP=14918;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
2,20,62144538,.,C,T,.,PASS,AC=365;AN=5096;DP=17418;AF=0.07;EAS_AF=0.01;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,1,1,0,2
3,20,62144730,.,T,C,.,PASS,AC=581;AN=5096;DP=25232;AF=0.11;EAS_AF=0.04;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,91,5,3,0,8
4,20,62145318,.,A,AG,.,PASS,AC=4068;AN=5096;DP=21440;AF=0.8;EAS_AF=0.81;EU...,GT,1|1,...,1|0,1|1,1|0,1|0,1|1,2,23,21,53,150

In [43]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,20,62144292,.,T,C,.,PASS,AC=3430;AN=5096;DP=11503;AF=0.67;EAS_AF=0.77;E...,GT,1|1,...,1|0,1|1,1|0,1|0,1|1,6,22,22,49,142
1,20,62144417,.,C,T,.,PASS,AC=1;AN=5096;DP=14918;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
2,20,62144538,.,C,T,.,PASS,AC=365;AN=5096;DP=17418;AF=0.07;EAS_AF=0.01;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,1,1,0,2
3,20,62144730,.,T,C,.,PASS,AC=581;AN=5096;DP=25232;AF=0.11;EAS_AF=0.04;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,91,5,3,0,8
4,20,62145318,.,A,AG,.,PASS,AC=4068;AN=5096;DP=21440;AF=0.8;EAS_AF=0.81;EU...,GT,1|1,...,1|0,1|1,1|0,1|0,1|1,2,23,21,53,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,20,62181291,.,G,A,.,PASS,AC=7;AN=5096;DP=23194;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
236,20,62182039,.,A,G,.,PASS,AC=1;AN=5096;DP=23748;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
237,20,62182271,.,CTG,C,.,PASS,AC=2;AN=5096;DP=21357;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
238,20,62182389,.,CATCCTT,C,.,PASS,AC=619;AN=5096;DP=21456;AF=0.12;EAS_AF=0.19;EU...,GT,0|0,...,0|1,0|0,0|1,0|1,0|0,57,18,21,3,45
239,20,62182433,.,A,G,.,PASS,AC=1193;AN=5096;DP=22432;AF=0.23;EAS_AF=0.19;E...,GT,0|0,...,0|1,0|0,0|1,0|1,0|0,57,18,21,3,45

# Save the output file to output folder

In [44]:
df.to_csv(outfile, index=False)