In [1]:
import pandas as pd

In [17]:
infile = "../vn_data/count_output/per_gene/SOD1.chr21.csv"

In [18]:
infile

'../vn_data/count_output/per_gene/SOD1.chr21.csv'

In [19]:
df = pd.read_csv(infile)

In [21]:
df.shape

(38, 113)

In [20]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,1|1,0|1,1|1,0|1,0|0,17,25,29,28,110
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1

# Check several rows, and INFO column

In [52]:
df.loc[0:2, "INFO"]

0    AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...
1    AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...
2    AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...
Name: INFO, dtype: object

# Filter a sub dataframe to make it easier for debugging

In [53]:
df = df.loc[0:5, ["POS", "REF", "ALT", "INFO"]]

In [54]:
df.head()

        POS REF ALT                                               INFO
0  31660364   C   A  AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...
1  31660429   A   C  AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...
2  31660675   C   A  AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...
3  31660688   C   G  AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...
4  31660694   C   T  AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...

In [55]:
# Step 1: Split the INFO field into a dictionary
info_dicts = df['INFO'].str.split(';').apply(
    lambda items: {k: v for k, v in (item.split('=') for item in items)}
)

In [56]:
info_dicts

0    {'AC': '1', 'AN': '5096', 'DP': '16003', 'AF':...
1    {'AC': '4', 'AN': '5096', 'DP': '18626', 'AF':...
2    {'AC': '503', 'AN': '5096', 'DP': '21130', 'AF...
3    {'AC': '1159', 'AN': '5096', 'DP': '21437', 'A...
4    {'AC': '1', 'AN': '5096', 'DP': '21630', 'AF':...
5    {'AC': '72', 'AN': '5096', 'DP': '18358', 'AF'...
Name: INFO, dtype: object

In [57]:
# Step 2: Convert dictionary list to a DataFrame
info_df = pd.DataFrame(info_dicts.tolist())

In [58]:
info_df.shape

(6, 11)

In [59]:
info_df.head()

     AC    AN     DP    AF EAS_AF EUR_AF AFR_AF AMR_AF SAS_AF   VT    NS
0     1  5096  16003     0      0      0      0      0      0  SNP  2548
1     4  5096  18626     0      0      0      0      0      0  SNP  2548
2   503  5096  21130   0.1      0   0.06   0.31   0.03   0.01  SNP  2548
3  1159  5096  21437  0.23   0.52   0.07   0.12   0.22   0.23  SNP  2548
4     1  5096  21630     0      0      0      0      0      0  SNP  2548

In [60]:
df.shape

(6, 4)

In [61]:
# Step 3: Merge with original DataFrame
df_final = pd.concat([df, info_df], axis=1)

In [62]:
df_final.shape

(6, 15)

In [63]:
df_final.head()

,POS,REF,ALT,INFO,AC,AN,DP,AF,EAS_AF,EUR_AF,AFR_AF,AMR_AF,SAS_AF,VT,NS
0,31660364,C,A,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,1,5096,16003,0,0,0,0,0,0,SNP,2548
1,31660429,A,C,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,4,5096,18626,0,0,0,0,0,0,SNP,2548
2,31660675,C,A,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,503,5096,21130,0.1,0,0.06,0.31,0.03,0.01,SNP,2548
3,31660688,C,G,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,1159,5096,21437,0.23,0.52,0.07,0.12,0.22,0.23,SNP,2548
4,31660694,C,T,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,1,5096,21630,0,0,0,0,0,0,SNP,2548

In [64]:
# Step 4: Optionally convert numeric fields
for col in df_final.columns:
    df_final[col] = pd.to_numeric(df_final[col], errors='ignore')

/var/folders/mk/qv7kjtr17ls_fqfn64hdptt00000gn/T/ipykernel_52573/905802651.py:3: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df_final[col] = pd.to_numeric(df_final[col], errors='ignore')

In [65]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   POS     6 non-null      int64
 1   REF     6 non-null      object
 2   ALT     6 non-null      object
 3   INFO    6 non-null      object
 4   AC      6 non-null      int64
 5   AN      6 non-null      int64
 6   DP      6 non-null      int64
 7   AF      6 non-null      float64
 8   EAS_AF  6 non-null      float64
 9   EUR_AF  6 non-null      float64
 10  AFR_AF  6 non-null      float64
 11  AMR_AF  6 non-null      float64
 12  SAS_AF  6 non-null      float64
 13  VT      6 non-null      object
 14  NS      6 non-null      int64
dtypes: float64(6), int64(5), object(4)
memory usage: 852.0+ bytes

In [66]:
# Show final DataFrame
df_final

,POS,REF,ALT,INFO,AC,AN,DP,AF,EAS_AF,EUR_AF,AFR_AF,AMR_AF,SAS_AF,VT,NS
0,31660364,C,A,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,1,5096,16003,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
1,31660429,A,C,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,4,5096,18626,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
2,31660675,C,A,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,503,5096,21130,0.10,0.00,0.06,0.31,0.03,0.01,SNP,2548
3,31660688,C,G,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,1159,5096,21437,0.23,0.52,0.07,0.12,0.22,0.23,SNP,2548
4,31660694,C,T,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,1,5096,21630,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
5,31661410,C,T,AC=72;AN=5096;DP=18358;AF=0.01;EAS_AF=0.05;EUR...,72,5096,18358,0.01,0.05,0.00,0.00,0.02,0.00,SNP,2548