In [1]:
import pandas as pd

In [2]:
infile = "../vn_data/count_output/per_gene/SOD1.chr21.csv"

In [3]:
outfile = "../vn_data/info_output/per_gene/SOD1.chr21.csv"

In [4]:
infile

'../vn_data/count_output/per_gene/SOD1.chr21.csv'

In [5]:
df = pd.read_csv(infile)

In [6]:
df.shape

(38, 113)

In [7]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,1|1,0|1,1|1,0|1,0|0,17,25,29,28,110
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1

# Check several rows, and INFO column

In [8]:
df.loc[0:2, "INFO"]

0    AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...
1    AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...
2    AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...
Name: INFO, dtype: object

# Filter a sub dataframe to make it easier for debugging

In [9]:
#df = df.loc[0:5, ["POS", "REF", "ALT", "INFO"]]

In [10]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,1|1,0|1,1|1,0|1,0|0,17,25,29,28,110
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
5,21,31661410,.,C,T,.,PASS,AC=72;AN=5096;DP=18358;AF=0.01;EAS_AF=0.05;EUR...,GT,0|0,...,0|1,0|0,0|0,0|0,0|0,94,3,1,1,6
6,21,31662304,.,A,G,.,PASS,AC=1;AN=5096;DP=23579;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
7,21,31662579,.,G,A,.,PASS,AC=1672;AN=5096;DP=21074;AF=0.33;EAS_AF=0.52;E...,GT,1|1,...,1|1,0|1,1|1,0|1,0|0,17,23,29,30,112
8,21,31662993,.,C,T,.,PASS,AC=13;AN=5096;DP=16291;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,2,0,0,2
9,21,31663068,.,G,C,.,PASS,AC=6;AN=5096;DP=20048;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,2,0,0,2
10,21,31663125,.,C,T,.,PASS,AC=993;AN=5096;DP=17406;AF=0.19;EAS_AF=0.5;EUR...,GT,1|1,...,1|1,0|1,1|1,0|1,0|0,17,25,29,28,110
11,21,31663682,.,T,A,.,PASS,AC=81;AN=5096;DP=126170;AF=0.02;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2
12,21,31663970,.,C,T,.,PASS,AC=2;AN=5096;DP=230572;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,1,1,0,2
13,21,31664078,.,T,G,.,PASS,AC=1500;AN=5096;DP=76439;AF=0.29;EAS_AF=0.52;E...,GT,1|1,...,1|1,0|1,1|1,0|1,0|0,17,23,29,30,112
14,21,31664501,.,GAGA,G,.,PASS,AC=431;AN=5096;DP=29019;AF=0.08;EAS_AF=0.01;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,1,1,0,2
15,21,31664549,.,C,G,.,PASS,AC=1;AN=5096;DP=28543;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
16,21,31664590,.,T,TA,.,PASS,AC=8;AN=5096;DP=25649;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,1,1,0,2
17,21,31664637,.,G,C,.,PASS,AC=3;AN=5096;DP=20488;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,2,0,0,2
18,21,31664680,.,G,A,.,PASS,AC=1;AN=5096;DP=18703;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
19,21,31665013,.,G,C,.,PASS,AC=1;AN=5096;DP=16955;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
20,21,31665161,.,TA,T,.,PASS,AC=2588;AN=5096;DP=14175;AF=0.51;EAS_AF=0.76;E...,GT,1|1,...,1|1,0|1,1|1,0|1,1|1,13,16,21,49,135
21,21,31665169,.,A,T,.,PASS,AC=2905;AN=5096;DP=14096;AF=0.57;EAS_AF=0.8;EU...,GT,1|1,...,1|1,0|1,1|1,0|1,1|1,8,17,24,50,141
22,21,31665251,.,A,G,.,PASS,AC=1260;AN=5096;DP=16807;AF=0.25;EAS_AF=0.31;E...,GT,0|0,...,0|0,1|0,0|0,0|0,1|1,68,14,15,2,33
23,21,31665437,.,T,A,.,PASS,AC=3;AN=5096;DP=19868;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,1,1,0,2
24,21,31666034,.,C,A,.,PASS,AC=1261;AN=5096;DP=15928;AF=0.25;EAS_AF=0.51;E...,GT,1|1,...,1|1,0|1,1|1,0|1,0|0,17,25,29,28,110
25,21,31666162,.,CAG,C,.,PASS,AC=81;AN=5096;DP=24404;AF=0.02;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2
26,21,31666200,.,C,T,.,PASS,AC=4;AN=5096;DP=27688;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|1,98,0,1,0,1
27,21,31666552,.,A,C,.,PASS,AC=81;AN=5096;DP=183780;AF=0.02;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2
28,21,31667007,.,A,G,.,PASS,AC=1264;AN=5096;DP=41290;AF=0.25;EAS_AF=0.51;E...,GT,1|1,...,1|1,0|1,1|1,0|1,0|0,17,25,29,28,110
29,21,31667461,.,TA,T,.,PASS,AC=1247;AN=5096;DP=174884;AF=0.24;EAS_AF=0.51;...,GT,1|1,...,1|1,0|1,1|1,0|1,0|0,17,25,29,28,110
30,21,31667513,.,T,C,.,PASS,AC=2;AN=5096;DP=103950;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
31,21,31667686,.,A,G,.,PASS,AC=2;AN=5096;DP=27880;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2
32,21,31667716,.,A,G,.,PASS,AC=1403;AN=5096;DP=24559;AF=0.28;EAS_AF=0.51;E...,GT,1|1,...,1|1,0|1,1|1,0|1,0|0,17,25,29,28,110
33,21,31667849,.,C,T,.,PASS,AC=1237;AN=5096;DP=21281;AF=0.24;EAS_AF=0.31;E...,GT,0|0,...,0|0,1|0,0|0,0|0,1|1,68,14,15,2,33
34,21,31668013,.,CT,C,.,PASS,AC=2960;AN=5096;DP=20291;AF=0.58;EAS_AF=0.83;E...,GT,1|1,...,1|1,1|1,1|1,0|1,1|1,8,15,22,54,145
35,21,31668058,.,C,T,.,PASS,AC=1240;AN=5096;DP=20970;AF=0.24;EAS_AF=0.31;E...,GT,0|0,...,0|0,1|0,0|0,0|0,1|1,68,14,15,2,33
36,21,31668895,.,T,C,.,PASS,AC=3;AN=5096;DP=23655;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
37,21,31668917,.,C,T,.,PASS,AC=72;AN=5096;DP=22194;AF=0.01;EAS_AF=0.05;EUR...,GT,0|0,...,0|1,0|0,0|0,0|0,0|0,94,3,1,1,6

# Step 1: Split the INFO field into a dictionary

In [11]:

info_dicts = df['INFO'].str.split(';').apply(
    lambda items: {f"INFO:{k}": v for k, v in (item.split('=') for item in items)}
)

In [12]:
info_dicts

0     {'INFO:AC': '1', 'INFO:AN': '5096', 'INFO:DP':...
1     {'INFO:AC': '4', 'INFO:AN': '5096', 'INFO:DP':...
2     {'INFO:AC': '503', 'INFO:AN': '5096', 'INFO:DP...
3     {'INFO:AC': '1159', 'INFO:AN': '5096', 'INFO:D...
4     {'INFO:AC': '1', 'INFO:AN': '5096', 'INFO:DP':...
5     {'INFO:AC': '72', 'INFO:AN': '5096', 'INFO:DP'...
6     {'INFO:AC': '1', 'INFO:AN': '5096', 'INFO:DP':...
7     {'INFO:AC': '1672', 'INFO:AN': '5096', 'INFO:D...
8     {'INFO:AC': '13', 'INFO:AN': '5096', 'INFO:DP'...
9     {'INFO:AC': '6', 'INFO:AN': '5096', 'INFO:DP':...
10    {'INFO:AC': '993', 'INFO:AN': '5096', 'INFO:DP...
11    {'INFO:AC': '81', 'INFO:AN': '5096', 'INFO:DP'...
12    {'INFO:AC': '2', 'INFO:AN': '5096', 'INFO:DP':...
13    {'INFO:AC': '1500', 'INFO:AN': '5096', 'INFO:D...
14    {'INFO:AC': '431', 'INFO:AN': '5096', 'INFO:DP...
15    {'INFO:AC': '1', 'INFO:AN': '5096', 'INFO:DP':...
16    {'INFO:AC': '8', 'INFO:AN': '5096', 'INFO:DP':...
17    {'INFO:AC': '3', 'INFO:AN': '5096', 'INFO:DP':...
18    {'INFO:AC': '1', 'INFO:AN': '5096', 'INFO:DP':...
19    {'INFO:AC': '1', 'INFO:AN': '5096', 'INFO:DP':...
20    {'INFO:AC': '2588', 'INFO:AN': '5096', 'INFO:D...
21    {'INFO:AC': '2905', 'INFO:AN': '5096', 'INFO:D...
22    {'INFO:AC': '1260', 'INFO:AN': '5096', 'INFO:D...
23    {'INFO:AC': '3', 'INFO:AN': '5096', 'INFO:DP':...
24    {'INFO:AC': '1261', 'INFO:AN': '5096', 'INFO:D...
25    {'INFO:AC': '81', 'INFO:AN': '5096', 'INFO:DP'...
26    {'INFO:AC': '4', 'INFO:AN': '5096', 'INFO:DP':...
27    {'INFO:AC': '81', 'INFO:AN': '5096', 'INFO:DP'...
28    {'INFO:AC': '1264', 'INFO:AN': '5096', 'INFO:D...
29    {'INFO:AC': '1247', 'INFO:AN': '5096', 'INFO:D...
30    {'INFO:AC': '2', 'INFO:AN': '5096', 'INFO:DP':...
31    {'INFO:AC': '2', 'INFO:AN': '5096', 'INFO:DP':...
32    {'INFO:AC': '1403', 'INFO:AN': '5096', 'INFO:D...
33    {'INFO:AC': '1237', 'INFO:AN': '5096', 'INFO:D...
34    {'INFO:AC': '2960', 'INFO:AN': '5096', 'INFO:D...
35    {'INFO:AC': '1240', 'INFO:AN': '5096', 'INFO:D...
36    {'INFO:AC': '3', 'INFO:AN': '5096', 'INFO:DP':...
37    {'INFO:AC': '72', 'INFO:AN': '5096', 'INFO:DP'...
Name: INFO, dtype: object

# Step 2: Convert dictionary list to a DataFrame

In [13]:

info_df = pd.DataFrame(info_dicts.tolist())

In [14]:
info_df.shape

(38, 11)

# Check the info data frame

In [15]:
info_df.head()

,INFO:AC,INFO:AN,INFO:DP,INFO:AF,INFO:EAS_AF,INFO:EUR_AF,INFO:AFR_AF,INFO:AMR_AF,INFO:SAS_AF,INFO:VT,INFO:NS
0,1,5096,16003,0,0,0,0,0,0,SNP,2548
1,4,5096,18626,0,0,0,0,0,0,SNP,2548
2,503,5096,21130,0.1,0,0.06,0.31,0.03,0.01,SNP,2548
3,1159,5096,21437,0.23,0.52,0.07,0.12,0.22,0.23,SNP,2548
4,1,5096,21630,0,0,0,0,0,0,SNP,2548

In [16]:
df.shape

(38, 113)

In [17]:
info_df.shape

(38, 11)

# Step 3: Merge with original DataFrame

In [18]:

df_final = pd.concat([df, info_df], axis=1)

In [19]:
df_final.shape

(38, 124)

In [20]:
df_final.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,INFO:AN,INFO:DP,INFO:AF,INFO:EAS_AF,INFO:EUR_AF,INFO:AFR_AF,INFO:AMR_AF,INFO:SAS_AF,INFO:VT,INFO:NS
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,16003,0,0,0,0,0,0,SNP,2548
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,18626,0,0,0,0,0,0,SNP,2548
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,5096,21130,0.1,0,0.06,0.31,0.03,0.01,SNP,2548
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,5096,21437,0.23,0.52,0.07,0.12,0.22,0.23,SNP,2548
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,21630,0,0,0,0,0,0,SNP,2548

# Step 4: Optionally convert numeric fields

In [21]:

for col in df_final.columns:
    df_final[col] = pd.to_numeric(df_final[col], errors='ignore')

/var/folders/10/k9wycjrn20bgyfnk4gcmgvw40000gn/T/ipykernel_79450/3346382442.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df_final[col] = pd.to_numeric(df_final[col], errors='ignore')

In [22]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Columns: 124 entries, #CHROM to INFO:NS
dtypes: float64(6), int64(11), object(107)
memory usage: 36.9+ KB

# Show final DataFrame

In [23]:

df_final

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,INFO:AN,INFO:DP,INFO:AF,INFO:EAS_AF,INFO:EUR_AF,INFO:AFR_AF,INFO:AMR_AF,INFO:SAS_AF,INFO:VT,INFO:NS
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,16003,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,18626,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,5096,21130,0.10,0.00,0.06,0.31,0.03,0.01,SNP,2548
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,5096,21437,0.23,0.52,0.07,0.12,0.22,0.23,SNP,2548
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,21630,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
5,21,31661410,.,C,T,.,PASS,AC=72;AN=5096;DP=18358;AF=0.01;EAS_AF=0.05;EUR...,GT,0|0,...,5096,18358,0.01,0.05,0.00,0.00,0.02,0.00,SNP,2548
6,21,31662304,.,A,G,.,PASS,AC=1;AN=5096;DP=23579;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,23579,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
7,21,31662579,.,G,A,.,PASS,AC=1672;AN=5096;DP=21074;AF=0.33;EAS_AF=0.52;E...,GT,1|1,...,5096,21074,0.33,0.52,0.13,0.44,0.26,0.24,SNP,2548
8,21,31662993,.,C,T,.,PASS,AC=13;AN=5096;DP=16291;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,5096,16291,0.00,0.01,0.00,0.00,0.00,0.00,SNP,2548
9,21,31663068,.,G,C,.,PASS,AC=6;AN=5096;DP=20048;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,5096,20048,0.00,0.01,0.00,0.00,0.00,0.00,SNP,2548
10,21,31663125,.,C,T,.,PASS,AC=993;AN=5096;DP=17406;AF=0.19;EAS_AF=0.5;EUR...,GT,1|1,...,5096,17406,0.19,0.50,0.07,0.10,0.20,0.12,SNP,2548
11,21,31663682,.,T,A,.,PASS,AC=81;AN=5096;DP=126170;AF=0.02;EAS_AF=0;EUR_A...,GT,0|0,...,5096,126170,0.02,0.00,0.06,0.00,0.02,0.01,SNP,2548
12,21,31663970,.,C,T,.,PASS,AC=2;AN=5096;DP=230572;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,5096,230572,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
13,21,31664078,.,T,G,.,PASS,AC=1500;AN=5096;DP=76439;AF=0.29;EAS_AF=0.52;E...,GT,1|1,...,5096,76439,0.29,0.52,0.13,0.31,0.25,0.24,SNP,2548
14,21,31664501,.,GAGA,G,.,PASS,AC=431;AN=5096;DP=29019;AF=0.08;EAS_AF=0.01;EU...,GT,0|0,...,5096,29019,0.08,0.01,0.16,0.03,0.11,0.14,INDEL,2548
15,21,31664549,.,C,G,.,PASS,AC=1;AN=5096;DP=28543;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,28543,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
16,21,31664590,.,T,TA,.,PASS,AC=8;AN=5096;DP=25649;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,5096,25649,0.00,0.01,0.00,0.00,0.00,0.00,INDEL,2548
17,21,31664637,.,G,C,.,PASS,AC=3;AN=5096;DP=20488;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,20488,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
18,21,31664680,.,G,A,.,PASS,AC=1;AN=5096;DP=18703;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,18703,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
19,21,31665013,.,G,C,.,PASS,AC=1;AN=5096;DP=16955;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,16955,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
20,21,31665161,.,TA,T,.,PASS,AC=2588;AN=5096;DP=14175;AF=0.51;EAS_AF=0.76;E...,GT,1|1,...,5096,14175,0.51,0.76,0.36,0.41,0.51,0.53,INDEL,2548
21,21,31665169,.,A,T,.,PASS,AC=2905;AN=5096;DP=14096;AF=0.57;EAS_AF=0.8;EU...,GT,1|1,...,5096,14096,0.57,0.80,0.43,0.50,0.59,0.56,SNP,2548
22,21,31665251,.,A,G,.,PASS,AC=1260;AN=5096;DP=16807;AF=0.25;EAS_AF=0.31;E...,GT,0|0,...,5096,16807,0.25,0.31,0.31,0.05,0.33,0.32,SNP,2548
23,21,31665437,.,T,A,.,PASS,AC=3;AN=5096;DP=19868;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,19868,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
24,21,31666034,.,C,A,.,PASS,AC=1261;AN=5096;DP=15928;AF=0.25;EAS_AF=0.51;E...,GT,1|1,...,5096,15928,0.25,0.51,0.07,0.20,0.23,0.23,SNP,2548
25,21,31666162,.,CAG,C,.,PASS,AC=81;AN=5096;DP=24404;AF=0.02;EAS_AF=0;EUR_AF...,GT,0|0,...,5096,24404,0.02,0.00,0.06,0.00,0.02,0.01,INDEL,2548
26,21,31666200,.,C,T,.,PASS,AC=4;AN=5096;DP=27688;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,27688,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
27,21,31666552,.,A,C,.,PASS,AC=81;AN=5096;DP=183780;AF=0.02;EAS_AF=0;EUR_A...,GT,0|0,...,5096,183780,0.02,0.00,0.06,0.00,0.02,0.01,SNP,2548
28,21,31667007,.,A,G,.,PASS,AC=1264;AN=5096;DP=41290;AF=0.25;EAS_AF=0.51;E...,GT,1|1,...,5096,41290,0.25,0.51,0.07,0.20,0.23,0.23,SNP,2548
29,21,31667461,.,TA,T,.,PASS,AC=1247;AN=5096;DP=174884;AF=0.24;EAS_AF=0.51;...,GT,1|1,...,5096,174884,0.24,0.51,0.07,0.20,0.22,0.23,INDEL,2548
30,21,31667513,.,T,C,.,PASS,AC=2;AN=5096;DP=103950;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,5096,103950,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
31,21,31667686,.,A,G,.,PASS,AC=2;AN=5096;DP=27880;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,27880,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
32,21,31667716,.,A,G,.,PASS,AC=1403;AN=5096;DP=24559;AF=0.28;EAS_AF=0.51;E...,GT,1|1,...,5096,24559,0.28,0.51,0.07,0.31,0.23,0.23,SNP,2548
33,21,31667849,.,C,T,.,PASS,AC=1237;AN=5096;DP=21281;AF=0.24;EAS_AF=0.31;E...,GT,0|0,...,5096,21281,0.24,0.31,0.30,0.05,0.32,0.32,SNP,2548
34,21,31668013,.,CT,C,.,PASS,AC=2960;AN=5096;DP=20291;AF=0.58;EAS_AF=0.83;E...,GT,1|1,...,5096,20291,0.58,0.83,0.43,0.53,0.58,0.55,INDEL,2548
35,21,31668058,.,C,T,.,PASS,AC=1240;AN=5096;DP=20970;AF=0.24;EAS_AF=0.31;E...,GT,0|0,...,5096,20970,0.24,0.31,0.30,0.05,0.32,0.32,SNP,2548
36,21,31668895,.,T,C,.,PASS,AC=3;AN=5096;DP=23655;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,5096,23655,0.00,0.00,0.00,0.00,0.00,0.00,SNP,2548
37,21,31668917,.,C,T,.,PASS,AC=72;AN=5096;DP=22194;AF=0.01;EAS_AF=0.05;EUR...,GT,0|0,...,5096,22194,0.01,0.05,0.00,0.00,0.02,0.00,SNP,2548

In [24]:
df_final.shape

(38, 124)

In [25]:
df_final.to_csv(outfile, index=False)