In [23]:
import pandas as pd

# Load input file in csv format

In [24]:
infile = "../vn_data/input/per_gene/OPTN.chr10.csv"

In [25]:
outfile = "../vn_data/output/per_gene/OPTN.chr10.csv"

In [26]:
df = pd.read_csv(infile)

# Check data frame content

In [27]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,10,13100087,.,G,T,.,PASS,AC=849;AN=5096;DP=6793;AF=0.17;EAS_AF=0.09;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,1|1,0|0,0|0,1|0,0|0,0|0
1,10,13100153,.,T,C,.,PASS,AC=1783;AN=5096;DP=7921;AF=0.35;EAS_AF=0.27;EU...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,10,13100251,.,G,A,.,PASS,AC=886;AN=5096;DP=10034;AF=0.17;EAS_AF=0.17;EU...,GT,0|0,...,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0
3,10,13100327,.,C,G,.,PASS,AC=1155;AN=5096;DP=10430;AF=0.23;EAS_AF=0.27;E...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,10,13100386,.,A,T,.,PASS,AC=4920;AN=5096;DP=6872;AF=0.97;EAS_AF=1;EUR_A...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1

# Check the columns in the data frame

In [28]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02137', 'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142',
       'HG02512', 'HG02513', 'HG02521', 'HG02522'],
      dtype='object', length=108)

In [29]:
df.shape

(202, 108)

# Extract a smaller data frame to debug and manually verify

In [30]:
#df = df.iloc[0:5,0:15]

In [31]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,10,13100087,.,G,T,.,PASS,AC=849;AN=5096;DP=6793;AF=0.17;EAS_AF=0.09;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,1|1,0|0,0|0,1|0,0|0,0|0
1,10,13100153,.,T,C,.,PASS,AC=1783;AN=5096;DP=7921;AF=0.35;EAS_AF=0.27;EU...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,10,13100251,.,G,A,.,PASS,AC=886;AN=5096;DP=10034;AF=0.17;EAS_AF=0.17;EU...,GT,0|0,...,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0
3,10,13100327,.,C,G,.,PASS,AC=1155;AN=5096;DP=10430;AF=0.23;EAS_AF=0.27;E...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,10,13100386,.,A,T,.,PASS,AC=4920;AN=5096;DP=6872;AF=0.97;EAS_AF=1;EUR_A...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,10,13136585,.,C,T,.,PASS,AC=7;AN=5096;DP=61896;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0
198,10,13136697,.,C,A,.,PASS,AC=1452;AN=5096;DP=170129;AF=0.28;EAS_AF=0.34;...,GT,0|1,...,0|0,1|0,1|0,1|1,0|0,0|0,0|0,0|1,1|0,1|0
199,10,13136766,.,G,A,.,PASS,AC=38;AN=5096;DP=305562;AF=0.01;EAS_AF=0.03;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
200,10,13137278,.,CGAAA,C,.,PASS,AC=13;AN=5096;DP=21894;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
201,10,13138287,.,T,G,.,PASS,AC=910;AN=5096;DP=18898;AF=0.18;EAS_AF=0.1;EUR...,GT,0|0,...,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [32]:
# Function to count substring in a row, looping through all cell in the row
def count_each_row(row, substr):
    count = 0  # first, initialize count to zero
    for cell in row:
        if pd.isna(cell):
            continue # if the cell is None, go to the next cell in the row
        if not isinstance(cell, str):
            continue # if the cell is not a string, go to the next cell in the row
        if cell == substr:
            count = count + 1 # if the cell matches the inpug substring, then increases the count by 1
            
    return count # return the total count

In [33]:
df['c00'] = df.apply(count_each_row, axis=1, substr="0|0")

In [34]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00
0,10,13100087,.,G,T,.,PASS,AC=849;AN=5096;DP=6793;AF=0.17;EAS_AF=0.09;EUR...,GT,0|0,...,0|0,0|0,0|0,1|1,0|0,0|0,1|0,0|0,0|0,79
1,10,13100153,.,T,C,.,PASS,AC=1783;AN=5096;DP=7921;AF=0.35;EAS_AF=0.27;EU...,GT,0|0,...,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,58
2,10,13100251,.,G,A,.,PASS,AC=886;AN=5096;DP=10034;AF=0.17;EAS_AF=0.17;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,71
3,10,13100327,.,C,G,.,PASS,AC=1155;AN=5096;DP=10430;AF=0.23;EAS_AF=0.27;E...,GT,0|0,...,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,58
4,10,13100386,.,A,T,.,PASS,AC=4920;AN=5096;DP=6872;AF=0.97;EAS_AF=1;EUR_A...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,0

In [35]:
df['c10'] = df.apply(count_each_row, axis=1, substr="1|0")

In [36]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10
0,10,13100087,.,G,T,.,PASS,AC=849;AN=5096;DP=6793;AF=0.17;EAS_AF=0.09;EUR...,GT,0|0,...,0|0,0|0,1|1,0|0,0|0,1|0,0|0,0|0,79,5
1,10,13100153,.,T,C,.,PASS,AC=1783;AN=5096;DP=7921;AF=0.35;EAS_AF=0.27;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,58,23
2,10,13100251,.,G,A,.,PASS,AC=886;AN=5096;DP=10034;AF=0.17;EAS_AF=0.17;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,71,13
3,10,13100327,.,C,G,.,PASS,AC=1155;AN=5096;DP=10430;AF=0.23;EAS_AF=0.27;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,58,23
4,10,13100386,.,A,T,.,PASS,AC=4920;AN=5096;DP=6872;AF=0.97;EAS_AF=1;EUR_A...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,0,0

In [37]:
df['c01'] = df.apply(count_each_row, axis=1, substr="0|1")

In [38]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01
0,10,13100087,.,G,T,.,PASS,AC=849;AN=5096;DP=6793;AF=0.17;EAS_AF=0.09;EUR...,GT,0|0,...,0|0,1|1,0|0,0|0,1|0,0|0,0|0,79,5,12
1,10,13100153,.,T,C,.,PASS,AC=1783;AN=5096;DP=7921;AF=0.35;EAS_AF=0.27;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,58,23,16
2,10,13100251,.,G,A,.,PASS,AC=886;AN=5096;DP=10034;AF=0.17;EAS_AF=0.17;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,1|0,0|0,71,13,12
3,10,13100327,.,C,G,.,PASS,AC=1155;AN=5096;DP=10430;AF=0.23;EAS_AF=0.27;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,58,23,16
4,10,13100386,.,A,T,.,PASS,AC=4920;AN=5096;DP=6872;AF=0.97;EAS_AF=1;EUR_A...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,0,0,0

In [39]:
df['c11'] = df.apply(count_each_row, axis=1, substr="1|1")

In [40]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11
0,10,13100087,.,G,T,.,PASS,AC=849;AN=5096;DP=6793;AF=0.17;EAS_AF=0.09;EUR...,GT,0|0,...,1|1,0|0,0|0,1|0,0|0,0|0,79,5,12,3
1,10,13100153,.,T,C,.,PASS,AC=1783;AN=5096;DP=7921;AF=0.35;EAS_AF=0.27;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,58,23,16,2
2,10,13100251,.,G,A,.,PASS,AC=886;AN=5096;DP=10034;AF=0.17;EAS_AF=0.17;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,1|0,0|0,71,13,12,3
3,10,13100327,.,C,G,.,PASS,AC=1155;AN=5096;DP=10430;AF=0.23;EAS_AF=0.27;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,58,23,16,2
4,10,13100386,.,A,T,.,PASS,AC=4920;AN=5096;DP=6872;AF=0.97;EAS_AF=1;EUR_A...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,0,0,0,99

# Create a new column for the count of the number of 1's

In [41]:
df['c1s'] = df['c10'] + df['c01'] + 2 * df['c11']

In [42]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,10,13100087,.,G,T,.,PASS,AC=849;AN=5096;DP=6793;AF=0.17;EAS_AF=0.09;EUR...,GT,0|0,...,0|0,0|0,1|0,0|0,0|0,79,5,12,3,23
1,10,13100153,.,T,C,.,PASS,AC=1783;AN=5096;DP=7921;AF=0.35;EAS_AF=0.27;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,58,23,16,2,43
2,10,13100251,.,G,A,.,PASS,AC=886;AN=5096;DP=10034;AF=0.17;EAS_AF=0.17;EU...,GT,0|0,...,0|0,0|0,0|0,1|0,0|0,71,13,12,3,31
3,10,13100327,.,C,G,.,PASS,AC=1155;AN=5096;DP=10430;AF=0.23;EAS_AF=0.27;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,58,23,16,2,43
4,10,13100386,.,A,T,.,PASS,AC=4920;AN=5096;DP=6872;AF=0.97;EAS_AF=1;EUR_A...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,0,0,0,99,198

In [43]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,10,13100087,.,G,T,.,PASS,AC=849;AN=5096;DP=6793;AF=0.17;EAS_AF=0.09;EUR...,GT,0|0,...,0|0,0|0,1|0,0|0,0|0,79,5,12,3,23
1,10,13100153,.,T,C,.,PASS,AC=1783;AN=5096;DP=7921;AF=0.35;EAS_AF=0.27;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,58,23,16,2,43
2,10,13100251,.,G,A,.,PASS,AC=886;AN=5096;DP=10034;AF=0.17;EAS_AF=0.17;EU...,GT,0|0,...,0|0,0|0,0|0,1|0,0|0,71,13,12,3,31
3,10,13100327,.,C,G,.,PASS,AC=1155;AN=5096;DP=10430;AF=0.23;EAS_AF=0.27;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,58,23,16,2,43
4,10,13100386,.,A,T,.,PASS,AC=4920;AN=5096;DP=6872;AF=0.97;EAS_AF=1;EUR_A...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,0,0,0,99,198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,10,13136585,.,C,T,.,PASS,AC=7;AN=5096;DP=61896;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,1|0,0|0,98,1,0,0,1
198,10,13136697,.,C,A,.,PASS,AC=1452;AN=5096;DP=170129;AF=0.28;EAS_AF=0.34;...,GT,0|1,...,0|0,0|0,0|1,1|0,1|0,43,21,27,8,64
199,10,13136766,.,G,A,.,PASS,AC=38;AN=5096;DP=305562;AF=0.01;EAS_AF=0.03;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,93,3,3,0,6
200,10,13137278,.,CGAAA,C,.,PASS,AC=13;AN=5096;DP=21894;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
201,10,13138287,.,T,G,.,PASS,AC=910;AN=5096;DP=18898;AF=0.18;EAS_AF=0.1;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,78,12,8,1,22

# Save the output file to output folder

In [44]:
df.to_csv(outfile, index=False)