In [23]:
import pandas as pd

# Load input file in csv format

In [24]:
infile = "../vn_data/input/per_gene/ELP3.chr8.csv"

In [25]:
outfile = "../vn_data/output/per_gene/ELP3.chr8.csv"

In [26]:
df = pd.read_csv(infile)

# Check data frame content

In [27]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,8,28090234,.,A,T,.,PASS,AC=726;AN=5096;DP=20850;AF=0.14;EAS_AF=0.33;EU...,GT,1|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,1|1,0|1,0|0
1,8,28090270,.,A,G,.,PASS,AC=1316;AN=5096;DP=20702;AF=0.26;EAS_AF=0.26;E...,GT,0|0,...,1|0,0|0,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0
2,8,28090482,.,G,T,.,PASS,AC=2865;AN=5096;DP=20036;AF=0.56;EAS_AF=0.61;E...,GT,0|1,...,1|1,0|1,1|0,1|1,0|1,1|1,0|0,0|1,1|0,1|1
3,8,28090527,.,A,T,.,PASS,AC=10;AN=5096;DP=22417;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|1,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,8,28090581,.,T,C,.,PASS,AC=3;AN=5096;DP=23617;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

# Check the columns in the data frame

In [28]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02137', 'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142',
       'HG02512', 'HG02513', 'HG02521', 'HG02522'],
      dtype='object', length=108)

In [29]:
df.shape

(490, 108)

# Extract a smaller data frame to debug and manually verify

In [30]:
#df = df.iloc[0:5,0:15]

In [31]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,8,28090234,.,A,T,.,PASS,AC=726;AN=5096;DP=20850;AF=0.14;EAS_AF=0.33;EU...,GT,1|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,1|1,0|1,0|0
1,8,28090270,.,A,G,.,PASS,AC=1316;AN=5096;DP=20702;AF=0.26;EAS_AF=0.26;E...,GT,0|0,...,1|0,0|0,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0
2,8,28090482,.,G,T,.,PASS,AC=2865;AN=5096;DP=20036;AF=0.56;EAS_AF=0.61;E...,GT,0|1,...,1|1,0|1,1|0,1|1,0|1,1|1,0|0,0|1,1|0,1|1
3,8,28090527,.,A,T,.,PASS,AC=10;AN=5096;DP=22417;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|1,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,8,28090581,.,T,C,.,PASS,AC=3;AN=5096;DP=23617;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,8,28189905,.,C,G,.,PASS,AC=696;AN=5096;DP=64856;AF=0.14;EAS_AF=0.34;EU...,GT,1|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,1|1,0|1,0|0
486,8,28190096,.,A,AACTT,.,PASS,AC=46;AN=5096;DP=29473;AF=0.01;EAS_AF=0.02;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
487,8,28190588,.,C,T,.,PASS,AC=33;AN=5096;DP=18103;AF=0.01;EAS_AF=0.01;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
488,8,28190650,.,C,T,.,PASS,AC=691;AN=5096;DP=17985;AF=0.14;EAS_AF=0.34;EU...,GT,1|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,1|1,0|1,0|0
489,8,28191151,.,A,C,.,PASS,AC=1552;AN=5096;DP=21918;AF=0.3;EAS_AF=0.07;EU...,GT,0|0,...,0|0,1|0,0|1,0|0,1|0,0|0,0|1,0|0,0|0,0|0

In [32]:
# Function to count substring in a row, looping through all cell in the row
def count_each_row(row, substr):
    count = 0  # first, initialize count to zero
    for cell in row:
        if pd.isna(cell):
            continue # if the cell is None, go to the next cell in the row
        if not isinstance(cell, str):
            continue # if the cell is not a string, go to the next cell in the row
        if cell == substr:
            count = count + 1 # if the cell matches the inpug substring, then increases the count by 1
            
    return count # return the total count

In [33]:
df['c00'] = df.apply(count_each_row, axis=1, substr="0|0")

In [34]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00
0,8,28090234,.,A,T,.,PASS,AC=726;AN=5096;DP=20850;AF=0.14;EAS_AF=0.33;EU...,GT,1|0,...,0|0,0|0,0|0,0|0,0|0,1|0,1|1,0|1,0|0,44
1,8,28090270,.,A,G,.,PASS,AC=1316;AN=5096;DP=20702;AF=0.26;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,63
2,8,28090482,.,G,T,.,PASS,AC=2865;AN=5096;DP=20036;AF=0.56;EAS_AF=0.61;E...,GT,0|1,...,0|1,1|0,1|1,0|1,1|1,0|0,0|1,1|0,1|1,13
3,8,28090527,.,A,T,.,PASS,AC=10;AN=5096;DP=22417;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|1,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
4,8,28090581,.,T,C,.,PASS,AC=3;AN=5096;DP=23617;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98

In [35]:
df['c10'] = df.apply(count_each_row, axis=1, substr="1|0")

In [36]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10
0,8,28090234,.,A,T,.,PASS,AC=726;AN=5096;DP=20850;AF=0.14;EAS_AF=0.33;EU...,GT,1|0,...,0|0,0|0,0|0,0|0,1|0,1|1,0|1,0|0,44,22
1,8,28090270,.,A,G,.,PASS,AC=1316;AN=5096;DP=20702;AF=0.26;EAS_AF=0.26;E...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,63,13
2,8,28090482,.,G,T,.,PASS,AC=2865;AN=5096;DP=20036;AF=0.56;EAS_AF=0.61;E...,GT,0|1,...,1|0,1|1,0|1,1|1,0|0,0|1,1|0,1|1,13,25
3,8,28090527,.,A,T,.,PASS,AC=10;AN=5096;DP=22417;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0
4,8,28090581,.,T,C,.,PASS,AC=3;AN=5096;DP=23617;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1

In [37]:
df['c01'] = df.apply(count_each_row, axis=1, substr="0|1")

In [38]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01
0,8,28090234,.,A,T,.,PASS,AC=726;AN=5096;DP=20850;AF=0.14;EAS_AF=0.33;EU...,GT,1|0,...,0|0,0|0,0|0,1|0,1|1,0|1,0|0,44,22,23
1,8,28090270,.,A,G,.,PASS,AC=1316;AN=5096;DP=20702;AF=0.26;EAS_AF=0.26;E...,GT,0|0,...,1|0,0|0,0|0,0|0,0|0,0|0,0|0,63,13,21
2,8,28090482,.,G,T,.,PASS,AC=2865;AN=5096;DP=20036;AF=0.56;EAS_AF=0.61;E...,GT,0|1,...,1|1,0|1,1|1,0|0,0|1,1|0,1|1,13,25,28
3,8,28090527,.,A,T,.,PASS,AC=10;AN=5096;DP=22417;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1
4,8,28090581,.,T,C,.,PASS,AC=3;AN=5096;DP=23617;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0

In [39]:
df['c11'] = df.apply(count_each_row, axis=1, substr="1|1")

In [40]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11
0,8,28090234,.,A,T,.,PASS,AC=726;AN=5096;DP=20850;AF=0.14;EAS_AF=0.33;EU...,GT,1|0,...,0|0,0|0,1|0,1|1,0|1,0|0,44,22,23,10
1,8,28090270,.,A,G,.,PASS,AC=1316;AN=5096;DP=20702;AF=0.26;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,63,13,21,2
2,8,28090482,.,G,T,.,PASS,AC=2865;AN=5096;DP=20036;AF=0.56;EAS_AF=0.61;E...,GT,0|1,...,0|1,1|1,0|0,0|1,1|0,1|1,13,25,28,33
3,8,28090527,.,A,T,.,PASS,AC=10;AN=5096;DP=22417;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1,0
4,8,28090581,.,T,C,.,PASS,AC=3;AN=5096;DP=23617;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0,0

# Create a new column for the count of the number of 1's

In [41]:
df['c1s'] = df['c10'] + df['c01'] + 2 * df['c11']

In [42]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,8,28090234,.,A,T,.,PASS,AC=726;AN=5096;DP=20850;AF=0.14;EAS_AF=0.33;EU...,GT,1|0,...,0|0,1|0,1|1,0|1,0|0,44,22,23,10,65
1,8,28090270,.,A,G,.,PASS,AC=1316;AN=5096;DP=20702;AF=0.26;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,63,13,21,2,38
2,8,28090482,.,G,T,.,PASS,AC=2865;AN=5096;DP=20036;AF=0.56;EAS_AF=0.61;E...,GT,0|1,...,1|1,0|0,0|1,1|0,1|1,13,25,28,33,119
3,8,28090527,.,A,T,.,PASS,AC=10;AN=5096;DP=22417;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
4,8,28090581,.,T,C,.,PASS,AC=3;AN=5096;DP=23617;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1

In [43]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,8,28090234,.,A,T,.,PASS,AC=726;AN=5096;DP=20850;AF=0.14;EAS_AF=0.33;EU...,GT,1|0,...,0|0,1|0,1|1,0|1,0|0,44,22,23,10,65
1,8,28090270,.,A,G,.,PASS,AC=1316;AN=5096;DP=20702;AF=0.26;EAS_AF=0.26;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,63,13,21,2,38
2,8,28090482,.,G,T,.,PASS,AC=2865;AN=5096;DP=20036;AF=0.56;EAS_AF=0.61;E...,GT,0|1,...,1|1,0|0,0|1,1|0,1|1,13,25,28,33,119
3,8,28090527,.,A,T,.,PASS,AC=10;AN=5096;DP=22417;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
4,8,28090581,.,T,C,.,PASS,AC=3;AN=5096;DP=23617;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,8,28189905,.,C,G,.,PASS,AC=696;AN=5096;DP=64856;AF=0.14;EAS_AF=0.34;EU...,GT,1|0,...,0|0,1|0,1|1,0|1,0|0,45,23,21,10,64
486,8,28190096,.,A,AACTT,.,PASS,AC=46;AN=5096;DP=29473;AF=0.01;EAS_AF=0.02;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,1,1,0,2
487,8,28190588,.,C,T,.,PASS,AC=33;AN=5096;DP=18103;AF=0.01;EAS_AF=0.01;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
488,8,28190650,.,C,T,.,PASS,AC=691;AN=5096;DP=17985;AF=0.14;EAS_AF=0.34;EU...,GT,1|0,...,0|0,1|0,1|1,0|1,0|0,45,23,21,10,64
489,8,28191151,.,A,C,.,PASS,AC=1552;AN=5096;DP=21918;AF=0.3;EAS_AF=0.07;EU...,GT,0|0,...,0|0,0|1,0|0,0|0,0|0,79,10,8,2,22

# Save the output file to output folder

In [44]:
df.to_csv(outfile, index=False)