In [31]:
import pandas as pd

# Load input file in csv format

In [32]:
infile = "../vn_data/input/per_gene/FUS.chr16.csv"

In [33]:
outfile = "../vn_data/output/per_gene/FUS.chr16.csv"

In [34]:
df = pd.read_csv(infile)

# Check data frame content

In [35]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,16,31180161,.,A,G,.,PASS,AC=4793;AN=5096;DP=128343;AF=0.94;EAS_AF=1;EUR...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1
1,16,31180233,.,T,A,.,PASS,AC=1;AN=5096;DP=102255;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,16,31180768,.,T,C,.,PASS,AC=4763;AN=5096;DP=14178;AF=0.93;EAS_AF=1;EUR_...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1
3,16,31180918,.,C,CT,.,PASS,AC=1577;AN=5096;DP=16362;AF=0.31;EAS_AF=0.26;E...,GT,0|1,...,1|0,1|0,0|1,0|1,1|1,0|0,0|0,0|0,0|0,1|1
4,16,31181853,.,A,G,.,PASS,AC=4;AN=5096;DP=22545;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

# Check the columns in the data frame

In [36]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02137', 'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142',
       'HG02512', 'HG02513', 'HG02521', 'HG02522'],
      dtype='object', length=108)

In [37]:
df.shape

(44, 108)

# Extract a smaller data frame to debug and manually verify

In [28]:
#df = df.iloc[0:5,0:15]

In [38]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,16,31180161,.,A,G,.,PASS,AC=4793;AN=5096;DP=128343;AF=0.94;EAS_AF=1;EUR...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1
1,16,31180233,.,T,A,.,PASS,AC=1;AN=5096;DP=102255;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,16,31180768,.,T,C,.,PASS,AC=4763;AN=5096;DP=14178;AF=0.93;EAS_AF=1;EUR_...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1
3,16,31180918,.,C,CT,.,PASS,AC=1577;AN=5096;DP=16362;AF=0.31;EAS_AF=0.26;E...,GT,0|1,...,1|0,1|0,0|1,0|1,1|1,0|0,0|0,0|0,0|0,1|1
4,16,31181853,.,A,G,.,PASS,AC=4;AN=5096;DP=22545;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
5,16,31181888,.,A,G,.,PASS,AC=33;AN=5096;DP=21993;AF=0.01;EAS_AF=0.03;EUR...,GT,0|0,...,0|0,0|0,0|1,0|0,0|0,0|0,0|0,0|0,0|0,0|1
6,16,31182374,.,T,C,.,PASS,AC=1;AN=5096;DP=350372;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
7,16,31182621,.,C,A,.,PASS,AC=1420;AN=5096;DP=345856;AF=0.28;EAS_AF=0.25;...,GT,0|1,...,1|0,1|0,0|1,0|1,1|1,0|0,0|0,0|0,0|0,1|1
8,16,31182925,.,A,C,.,PASS,AC=106;AN=5096;DP=28450;AF=0.02;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0
9,16,31183055,.,C,G,.,PASS,AC=1;AN=5096;DP=24460;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
10,16,31184205,.,C,T,.,PASS,AC=1;AN=5096;DP=362768;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
11,16,31184478,.,CTG,C,.,PASS,AC=1;AN=5096;DP=55948;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
12,16,31184784,.,T,C,.,PASS,AC=1452;AN=5096;DP=91564;AF=0.28;EAS_AF=0.25;E...,GT,0|1,...,1|0,1|0,0|1,0|1,1|1,0|0,0|0,0|0,0|0,1|1
13,16,31184820,.,GTCTTTTTACTT,G,.,PASS,AC=1450;AN=5096;DP=138461;AF=0.28;EAS_AF=0.25;...,GT,0|1,...,1|0,1|0,0|1,0|1,0|1,0|0,0|0,0|0,0|0,1|1
14,16,31184910,.,T,G,.,PASS,AC=4;AN=5096;DP=276346;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
15,16,31185088,.,G,A,.,PASS,AC=1;AN=5096;DP=188330;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
16,16,31185120,.,C,T,.,PASS,AC=1;AN=5096;DP=191584;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|1,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
17,16,31185191,.,A,C,.,PASS,AC=7;AN=5096;DP=175954;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
18,16,31185629,.,A,G,.,PASS,AC=1;AN=5096;DP=22694;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|1,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
19,16,31185794,.,A,G,.,PASS,AC=1;AN=5096;DP=23302;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
20,16,31187217,.,G,T,.,PASS,AC=1;AN=5096;DP=29629;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
21,16,31187228,.,T,A,.,PASS,AC=1;AN=5096;DP=29718;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
22,16,31188078,.,G,T,.,PASS,AC=5091;AN=5096;DP=26099;AF=1;EAS_AF=1;EUR_AF=...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1
23,16,31188129,.,G,T,.,PASS,AC=6;AN=5096;DP=31901;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
24,16,31188697,.,A,C,.,PASS,AC=1;AN=5096;DP=31034;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
25,16,31189080,.,A,G,.,PASS,AC=33;AN=5096;DP=306661;AF=0.01;EAS_AF=0.03;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
26,16,31189393,.,G,A,.,PASS,AC=1;AN=5096;DP=110368;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
27,16,31189428,.,T,C,.,PASS,AC=1;AN=5096;DP=84260;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
28,16,31190739,.,T,C,.,PASS,AC=1;AN=5096;DP=324646;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
29,16,31191377,.,A,T,.,PASS,AC=1;AN=5096;DP=277792;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
30,16,31191377,.,AT,A,.,PASS,AC=1131;AN=5096;DP=277792;AF=0.22;EAS_AF=0.15;...,GT,0|0,...,0|0,0|1,1|0,0|0,0|0,0|0,1|0,0|1,1|0,0|1
31,16,31191428,.,G,A,.,PASS,AC=1;AN=5096;DP=310799;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
32,16,31192117,.,G,A,.,PASS,AC=1;AN=5096;DP=22236;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
33,16,31192208,.,G,C,.,PASS,AC=1433;AN=5096;DP=23158;AF=0.28;EAS_AF=0.25;E...,GT,0|1,...,1|0,1|0,0|1,0|1,1|1,0|0,0|0,0|0,0|0,1|1
34,16,31192348,.,C,T,.,PASS,AC=83;AN=5096;DP=22751;AF=0.02;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
35,16,31192527,.,G,A,.,PASS,AC=6;AN=5096;DP=21407;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|1,0|0,0|0,0|0,0|0,0|0
36,16,31192649,.,C,T,.,PASS,AC=2;AN=5096;DP=22473;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
37,16,31192694,.,C,T,.,PASS,AC=1;AN=5096;DP=20194;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
38,16,31192724,.,C,G,.,PASS,AC=3;AN=5096;DP=20006;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
39,16,31192914,.,T,C,.,PASS,AC=5051;AN=5096;DP=23676;AF=0.99;EAS_AF=1;EUR_...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1
40,16,31193081,.,A,C,.,PASS,AC=2;AN=5096;DP=21713;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
41,16,31193803,.,AT,A,.,PASS,AC=18;AN=5096;DP=18884;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0
42,16,31194040,.,A,G,.,PASS,AC=1;AN=5096;DP=21798;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
43,16,31194470,.,G,T,.,PASS,AC=1;AN=5096;DP=16656;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [39]:
# Function to count substring in a row, looping through all cell in the row
def count_each_row(row, substr):
    count = 0  # first, initialize count to zero
    for cell in row:
        if pd.isna(cell):
            continue # if the cell is None, go to the next cell in the row
        if not isinstance(cell, str):
            continue # if the cell is not a string, go to the next cell in the row
        if cell == substr:
            count = count + 1 # if the cell matches the inpug substring, then increases the count by 1
            
    return count # return the total count

In [40]:
df['c00'] = df.apply(count_each_row, axis=1, substr="0|0")

In [41]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00
0,16,31180161,.,A,G,.,PASS,AC=4793;AN=5096;DP=128343;AF=0.94;EAS_AF=1;EUR...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,0
1,16,31180233,.,T,A,.,PASS,AC=1;AN=5096;DP=102255;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
2,16,31180768,.,T,C,.,PASS,AC=4763;AN=5096;DP=14178;AF=0.93;EAS_AF=1;EUR_...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,0
3,16,31180918,.,C,CT,.,PASS,AC=1577;AN=5096;DP=16362;AF=0.31;EAS_AF=0.26;E...,GT,0|1,...,1|0,0|1,0|1,1|1,0|0,0|0,0|0,0|0,1|1,48
4,16,31181853,.,A,G,.,PASS,AC=4;AN=5096;DP=22545;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,96

In [42]:
df['c10'] = df.apply(count_each_row, axis=1, substr="1|0")

In [43]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10
0,16,31180161,.,A,G,.,PASS,AC=4793;AN=5096;DP=128343;AF=0.94;EAS_AF=1;EUR...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,0,0
1,16,31180233,.,T,A,.,PASS,AC=1;AN=5096;DP=102255;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1
2,16,31180768,.,T,C,.,PASS,AC=4763;AN=5096;DP=14178;AF=0.93;EAS_AF=1;EUR_...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,0,0
3,16,31180918,.,C,CT,.,PASS,AC=1577;AN=5096;DP=16362;AF=0.31;EAS_AF=0.26;E...,GT,0|1,...,0|1,0|1,1|1,0|0,0|0,0|0,0|0,1|1,48,24
4,16,31181853,.,A,G,.,PASS,AC=4;AN=5096;DP=22545;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,96,2

In [44]:
df['c01'] = df.apply(count_each_row, axis=1, substr="0|1")

In [45]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01
0,16,31180161,.,A,G,.,PASS,AC=4793;AN=5096;DP=128343;AF=0.94;EAS_AF=1;EUR...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,0,0,0
1,16,31180233,.,T,A,.,PASS,AC=1;AN=5096;DP=102255;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0
2,16,31180768,.,T,C,.,PASS,AC=4763;AN=5096;DP=14178;AF=0.93;EAS_AF=1;EUR_...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,0,0,0
3,16,31180918,.,C,CT,.,PASS,AC=1577;AN=5096;DP=16362;AF=0.31;EAS_AF=0.26;E...,GT,0|1,...,0|1,1|1,0|0,0|0,0|0,0|0,1|1,48,24,19
4,16,31181853,.,A,G,.,PASS,AC=4;AN=5096;DP=22545;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,96,2,1

In [46]:
df['c11'] = df.apply(count_each_row, axis=1, substr="1|1")

In [47]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11
0,16,31180161,.,A,G,.,PASS,AC=4793;AN=5096;DP=128343;AF=0.94;EAS_AF=1;EUR...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,0,0,0,99
1,16,31180233,.,T,A,.,PASS,AC=1;AN=5096;DP=102255;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0,0
2,16,31180768,.,T,C,.,PASS,AC=4763;AN=5096;DP=14178;AF=0.93;EAS_AF=1;EUR_...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,0,0,0,99
3,16,31180918,.,C,CT,.,PASS,AC=1577;AN=5096;DP=16362;AF=0.31;EAS_AF=0.26;E...,GT,0|1,...,1|1,0|0,0|0,0|0,0|0,1|1,48,24,19,8
4,16,31181853,.,A,G,.,PASS,AC=4;AN=5096;DP=22545;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,96,2,1,0

# Create a new column for the count of the number of 1's

In [48]:
df['c1s'] = df['c10'] + df['c01'] + 2 * df['c11']

In [49]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,16,31180161,.,A,G,.,PASS,AC=4793;AN=5096;DP=128343;AF=0.94;EAS_AF=1;EUR...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,0,0,0,99,198
1,16,31180233,.,T,A,.,PASS,AC=1;AN=5096;DP=102255;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
2,16,31180768,.,T,C,.,PASS,AC=4763;AN=5096;DP=14178;AF=0.93;EAS_AF=1;EUR_...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,0,0,0,99,198
3,16,31180918,.,C,CT,.,PASS,AC=1577;AN=5096;DP=16362;AF=0.31;EAS_AF=0.26;E...,GT,0|1,...,0|0,0|0,0|0,0|0,1|1,48,24,19,8,59
4,16,31181853,.,A,G,.,PASS,AC=4;AN=5096;DP=22545;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,96,2,1,0,3

# Save the output file to output folder

In [50]:
df.to_csv(outfile, index=False)