In [82]:
import pandas as pd

# Load input file in csv format

In [83]:
infile = "../vn_data/input/per_gene/SOD1.chr21.csv"

In [84]:
outfile = "../vn_data/output/per_gene/SOD1.chr21.csv"

In [85]:
df = pd.read_csv(infile)

# Check data frame content

In [86]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

# Check the columns in the data frame

In [87]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02137', 'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142',
       'HG02512', 'HG02513', 'HG02521', 'HG02522'],
      dtype='object', length=108)

In [88]:
df.shape

(38, 108)

# Extract a smaller data frame to debug and manually verify

In [89]:
#df = df.iloc[0:5,0:15]

In [90]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
5,21,31661410,.,C,T,.,PASS,AC=72;AN=5096;DP=18358;AF=0.01;EAS_AF=0.05;EUR...,GT,0|0,...,0|0,0|0,1|1,0|0,0|0,0|1,0|0,0|0,0|0,0|0
6,21,31662304,.,A,G,.,PASS,AC=1;AN=5096;DP=23579;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
7,21,31662579,.,G,A,.,PASS,AC=1672;AN=5096;DP=21074;AF=0.33;EAS_AF=0.52;E...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
8,21,31662993,.,C,T,.,PASS,AC=13;AN=5096;DP=16291;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
9,21,31663068,.,G,C,.,PASS,AC=6;AN=5096;DP=20048;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
10,21,31663125,.,C,T,.,PASS,AC=993;AN=5096;DP=17406;AF=0.19;EAS_AF=0.5;EUR...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
11,21,31663682,.,T,A,.,PASS,AC=81;AN=5096;DP=126170;AF=0.02;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
12,21,31663970,.,C,T,.,PASS,AC=2;AN=5096;DP=230572;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
13,21,31664078,.,T,G,.,PASS,AC=1500;AN=5096;DP=76439;AF=0.29;EAS_AF=0.52;E...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
14,21,31664501,.,GAGA,G,.,PASS,AC=431;AN=5096;DP=29019;AF=0.08;EAS_AF=0.01;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
15,21,31664549,.,C,G,.,PASS,AC=1;AN=5096;DP=28543;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
16,21,31664590,.,T,TA,.,PASS,AC=8;AN=5096;DP=25649;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
17,21,31664637,.,G,C,.,PASS,AC=3;AN=5096;DP=20488;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
18,21,31664680,.,G,A,.,PASS,AC=1;AN=5096;DP=18703;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
19,21,31665013,.,G,C,.,PASS,AC=1;AN=5096;DP=16955;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
20,21,31665161,.,TA,T,.,PASS,AC=2588;AN=5096;DP=14175;AF=0.51;EAS_AF=0.76;E...,GT,1|1,...,0|1,1|1,1|1,0|0,1|1,1|1,0|1,1|1,0|1,1|1
21,21,31665169,.,A,T,.,PASS,AC=2905;AN=5096;DP=14096;AF=0.57;EAS_AF=0.8;EU...,GT,1|1,...,0|1,1|1,1|1,1|0,1|1,1|1,0|1,1|1,0|1,1|1
22,21,31665251,.,A,G,.,PASS,AC=1260;AN=5096;DP=16807;AF=0.25;EAS_AF=0.31;E...,GT,0|0,...,1|1,0|0,0|0,0|0,1|0,0|0,1|0,0|0,0|0,1|1
23,21,31665437,.,T,A,.,PASS,AC=3;AN=5096;DP=19868;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
24,21,31666034,.,C,A,.,PASS,AC=1261;AN=5096;DP=15928;AF=0.25;EAS_AF=0.51;E...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
25,21,31666162,.,CAG,C,.,PASS,AC=81;AN=5096;DP=24404;AF=0.02;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
26,21,31666200,.,C,T,.,PASS,AC=4;AN=5096;DP=27688;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1
27,21,31666552,.,A,C,.,PASS,AC=81;AN=5096;DP=183780;AF=0.02;EAS_AF=0;EUR_A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
28,21,31667007,.,A,G,.,PASS,AC=1264;AN=5096;DP=41290;AF=0.25;EAS_AF=0.51;E...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
29,21,31667461,.,TA,T,.,PASS,AC=1247;AN=5096;DP=174884;AF=0.24;EAS_AF=0.51;...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
30,21,31667513,.,T,C,.,PASS,AC=2;AN=5096;DP=103950;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
31,21,31667686,.,A,G,.,PASS,AC=2;AN=5096;DP=27880;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
32,21,31667716,.,A,G,.,PASS,AC=1403;AN=5096;DP=24559;AF=0.28;EAS_AF=0.51;E...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
33,21,31667849,.,C,T,.,PASS,AC=1237;AN=5096;DP=21281;AF=0.24;EAS_AF=0.31;E...,GT,0|0,...,1|1,0|0,0|0,0|0,1|0,0|0,1|0,0|0,0|0,1|1
34,21,31668013,.,CT,C,.,PASS,AC=2960;AN=5096;DP=20291;AF=0.58;EAS_AF=0.83;E...,GT,1|1,...,1|1,1|1,1|1,1|0,1|1,1|1,1|1,1|1,0|1,1|1
35,21,31668058,.,C,T,.,PASS,AC=1240;AN=5096;DP=20970;AF=0.24;EAS_AF=0.31;E...,GT,0|0,...,1|1,0|0,0|0,0|0,1|0,0|0,1|0,0|0,0|0,1|1
36,21,31668895,.,T,C,.,PASS,AC=3;AN=5096;DP=23655;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
37,21,31668917,.,C,T,.,PASS,AC=72;AN=5096;DP=22194;AF=0.01;EAS_AF=0.05;EUR...,GT,0|0,...,0|0,0|0,1|1,0|0,0|0,0|1,0|0,0|0,0|0,0|0

In [91]:
# Function to count substring in a row, looping through all cell in the row
def count_each_row(row, substr):
    count = 0  # first, initialize count to zero
    for cell in row:
        if pd.isna(cell):
            continue # if the cell is None, go to the next cell in the row
        if not isinstance(cell, str):
            continue # if the cell is not a string, go to the next cell in the row
        if cell == substr:
            count = count + 1 # if the cell matches the inpug substring, then increases the count by 1
            
    return count # return the total count

In [92]:
df['c00'] = df.apply(count_each_row, axis=1, substr="0|0")

In [93]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0,17
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98

In [94]:
df['c10'] = df.apply(count_each_row, axis=1, substr="1|0")

In [95]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97,0
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0,17,25
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1

In [96]:
df['c01'] = df.apply(count_each_row, axis=1, substr="0|1")

In [97]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97,0,2
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,1|0,0|1,1|1,0|1,1|1,0|1,0|0,17,25,29
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0

In [98]:
df['c11'] = df.apply(count_each_row, axis=1, substr="1|1")

In [99]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1,0
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0,0
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,97,0,2,0
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,0|1,1|1,0|1,1|1,0|1,0|0,17,25,29,28
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0,0

# Create a new column for the count of the number of 1's

In [100]:
df['c1s'] = df['c10'] + df['c01'] + 2 * df['c11']

In [101]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,1|1,0|1,1|1,0|1,0|0,17,25,29,28,110
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1

# Save the output file to output folder

In [102]:
df.to_csv(outfile, index=False)