In [23]:
import pandas as pd

# Load input file in csv format

In [24]:
infile = "../vn_data/input/per_gene/PRPH.chr12.csv"

In [25]:
outfile = "../vn_data/output/per_gene/PRPH.chr12.csv"

In [26]:
df = pd.read_csv(infile)

# Check data frame content

In [27]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,12,49295255,.,C,T,.,PASS,AC=1;AN=5096;DP=92454;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,12,49295263,.,C,T,.,PASS,AC=114;AN=5096;DP=91914;AF=0.02;EAS_AF=0.02;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0
2,12,49295552,.,C,A,.,PASS,AC=7;AN=5096;DP=55952;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,12,49295814,.,G,C,.,PASS,AC=1788;AN=5096;DP=19594;AF=0.35;EAS_AF=0.04;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0
4,12,49296185,.,G,C,.,PASS,AC=1;AN=5096;DP=120537;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

# Check the columns in the data frame

In [28]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02137', 'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142',
       'HG02512', 'HG02513', 'HG02521', 'HG02522'],
      dtype='object', length=108)

In [29]:
df.shape

(11, 108)

# Extract a smaller data frame to debug and manually verify

In [30]:
#df = df.iloc[0:5,0:15]

In [31]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,12,49295255,.,C,T,.,PASS,AC=1;AN=5096;DP=92454;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,12,49295263,.,C,T,.,PASS,AC=114;AN=5096;DP=91914;AF=0.02;EAS_AF=0.02;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0
2,12,49295552,.,C,A,.,PASS,AC=7;AN=5096;DP=55952;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,12,49295814,.,G,C,.,PASS,AC=1788;AN=5096;DP=19594;AF=0.35;EAS_AF=0.04;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0
4,12,49296185,.,G,C,.,PASS,AC=1;AN=5096;DP=120537;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
5,12,49296554,.,T,C,.,PASS,AC=1322;AN=5096;DP=149106;AF=0.26;EAS_AF=0.04;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0
6,12,49297015,.,G,A,.,PASS,AC=114;AN=5096;DP=149289;AF=0.02;EAS_AF=0.02;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0
7,12,49297443,.,C,G,.,PASS,AC=77;AN=5096;DP=89201;AF=0.02;EAS_AF=0.02;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0
8,12,49297467,.,A,G,.,PASS,AC=1048;AN=5096;DP=103748;AF=0.21;EAS_AF=0.04;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0
9,12,49297620,.,C,A,.,PASS,AC=250;AN=5096;DP=103573;AF=0.05;EAS_AF=0;EUR_...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
10,12,49297784,.,T,C,.,PASS,AC=932;AN=5096;DP=141826;AF=0.18;EAS_AF=0.02;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [32]:
# Function to count substring in a row, looping through all cell in the row
def count_each_row(row, substr):
    count = 0  # first, initialize count to zero
    for cell in row:
        if pd.isna(cell):
            continue # if the cell is None, go to the next cell in the row
        if not isinstance(cell, str):
            continue # if the cell is not a string, go to the next cell in the row
        if cell == substr:
            count = count + 1 # if the cell matches the inpug substring, then increases the count by 1
            
    return count # return the total count

In [33]:
df['c00'] = df.apply(count_each_row, axis=1, substr="0|0")

In [34]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00
0,12,49295255,.,C,T,.,PASS,AC=1;AN=5096;DP=92454;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
1,12,49295263,.,C,T,.,PASS,AC=114;AN=5096;DP=91914;AF=0.02;EAS_AF=0.02;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0,92
2,12,49295552,.,C,A,.,PASS,AC=7;AN=5096;DP=55952;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97
3,12,49295814,.,G,C,.,PASS,AC=1788;AN=5096;DP=19594;AF=0.35;EAS_AF=0.04;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0,91
4,12,49296185,.,G,C,.,PASS,AC=1;AN=5096;DP=120537;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98

In [35]:
df['c10'] = df.apply(count_each_row, axis=1, substr="1|0")

In [36]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10
0,12,49295255,.,C,T,.,PASS,AC=1;AN=5096;DP=92454;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1
1,12,49295263,.,C,T,.,PASS,AC=114;AN=5096;DP=91914;AF=0.02;EAS_AF=0.02;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0,92,3
2,12,49295552,.,C,A,.,PASS,AC=7;AN=5096;DP=55952;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97,0
3,12,49295814,.,G,C,.,PASS,AC=1788;AN=5096;DP=19594;AF=0.35;EAS_AF=0.04;E...,GT,0|0,...,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0,91,4
4,12,49296185,.,G,C,.,PASS,AC=1;AN=5096;DP=120537;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0

In [37]:
df['c01'] = df.apply(count_each_row, axis=1, substr="0|1")

In [38]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01
0,12,49295255,.,C,T,.,PASS,AC=1;AN=5096;DP=92454;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0
1,12,49295263,.,C,T,.,PASS,AC=114;AN=5096;DP=91914;AF=0.02;EAS_AF=0.02;EU...,GT,0|0,...,0|0,0|0,0|0,1|0,0|0,0|0,0|0,92,3,3
2,12,49295552,.,C,A,.,PASS,AC=7;AN=5096;DP=55952;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97,0,2
3,12,49295814,.,G,C,.,PASS,AC=1788;AN=5096;DP=19594;AF=0.35;EAS_AF=0.04;E...,GT,0|0,...,0|0,0|0,0|0,1|0,0|0,0|0,0|0,91,4,3
4,12,49296185,.,G,C,.,PASS,AC=1;AN=5096;DP=120537;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1

In [39]:
df['c11'] = df.apply(count_each_row, axis=1, substr="1|1")

In [40]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11
0,12,49295255,.,C,T,.,PASS,AC=1;AN=5096;DP=92454;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0,0
1,12,49295263,.,C,T,.,PASS,AC=114;AN=5096;DP=91914;AF=0.02;EAS_AF=0.02;EU...,GT,0|0,...,0|0,0|0,1|0,0|0,0|0,0|0,92,3,3,1
2,12,49295552,.,C,A,.,PASS,AC=7;AN=5096;DP=55952;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,97,0,2,0
3,12,49295814,.,G,C,.,PASS,AC=1788;AN=5096;DP=19594;AF=0.35;EAS_AF=0.04;E...,GT,0|0,...,0|0,0|0,1|0,0|0,0|0,0|0,91,4,3,1
4,12,49296185,.,G,C,.,PASS,AC=1;AN=5096;DP=120537;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1,0

# Create a new column for the count of the number of 1's

In [41]:
df['c1s'] = df['c10'] + df['c01'] + 2 * df['c11']

In [42]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,12,49295255,.,C,T,.,PASS,AC=1;AN=5096;DP=92454;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
1,12,49295263,.,C,T,.,PASS,AC=114;AN=5096;DP=91914;AF=0.02;EAS_AF=0.02;EU...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,92,3,3,1,8
2,12,49295552,.,C,A,.,PASS,AC=7;AN=5096;DP=55952;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2
3,12,49295814,.,G,C,.,PASS,AC=1788;AN=5096;DP=19594;AF=0.35;EAS_AF=0.04;E...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,91,4,3,1,9
4,12,49296185,.,G,C,.,PASS,AC=1;AN=5096;DP=120537;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1

In [43]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,12,49295255,.,C,T,.,PASS,AC=1;AN=5096;DP=92454;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
1,12,49295263,.,C,T,.,PASS,AC=114;AN=5096;DP=91914;AF=0.02;EAS_AF=0.02;EU...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,92,3,3,1,8
2,12,49295552,.,C,A,.,PASS,AC=7;AN=5096;DP=55952;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2
3,12,49295814,.,G,C,.,PASS,AC=1788;AN=5096;DP=19594;AF=0.35;EAS_AF=0.04;E...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,91,4,3,1,9
4,12,49296185,.,G,C,.,PASS,AC=1;AN=5096;DP=120537;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
5,12,49296554,.,T,C,.,PASS,AC=1322;AN=5096;DP=149106;AF=0.26;EAS_AF=0.04;...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,91,4,3,1,9
6,12,49297015,.,G,A,.,PASS,AC=114;AN=5096;DP=149289;AF=0.02;EAS_AF=0.02;E...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,92,3,3,1,8
7,12,49297443,.,C,G,.,PASS,AC=77;AN=5096;DP=89201;AF=0.02;EAS_AF=0.02;EUR...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,93,3,2,1,7
8,12,49297467,.,A,G,.,PASS,AC=1048;AN=5096;DP=103748;AF=0.21;EAS_AF=0.04;...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,91,4,3,1,9
9,12,49297620,.,C,A,.,PASS,AC=250;AN=5096;DP=103573;AF=0.05;EAS_AF=0;EUR_...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
10,12,49297784,.,T,C,.,PASS,AC=932;AN=5096;DP=141826;AF=0.18;EAS_AF=0.02;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1

# Save the output file to output folder

In [44]:
df.to_csv(outfile, index=False)