In [23]:
import pandas as pd

# Load input file in csv format

In [24]:
infile = "../vn_data/input/per_gene/CHMP2B.chr3.csv"

In [25]:
outfile = "../vn_data/output/per_gene/CHMP2B.chr3.csv"

In [26]:
df = pd.read_csv(infile)

# Check data frame content

In [27]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,3,87227469,.,C,A,.,PASS,AC=1;AN=5096;DP=136903;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,3,87227549,.,C,T,.,PASS,AC=549;AN=5096;DP=276161;AF=0.11;EAS_AF=0.18;E...,GT,0|0,...,0|0,0|0,0|1,0|0,0|0,0|1,0|0,0|0,0|0,1|0
2,3,87227724,.,A,G,.,PASS,AC=1;AN=5096;DP=62164;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,3,87227912,.,G,A,.,PASS,AC=1526;AN=5096;DP=24556;AF=0.3;EAS_AF=0.3;EUR...,GT,0|0,...,0|0,0|0,0|1,0|1,0|0,0|1,0|0,0|0,0|0,1|1
4,3,87229027,.,T,A,.,PASS,AC=35;AN=5096;DP=18530;AF=0.01;EAS_AF=0.03;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0

# Check the columns in the data frame

In [28]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02137', 'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142',
       'HG02512', 'HG02513', 'HG02521', 'HG02522'],
      dtype='object', length=108)

In [29]:
df.shape

(106, 108)

# Extract a smaller data frame to debug and manually verify

In [30]:
#df = df.iloc[0:5,0:15]

In [31]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,3,87227469,.,C,A,.,PASS,AC=1;AN=5096;DP=136903;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,3,87227549,.,C,T,.,PASS,AC=549;AN=5096;DP=276161;AF=0.11;EAS_AF=0.18;E...,GT,0|0,...,0|0,0|0,0|1,0|0,0|0,0|1,0|0,0|0,0|0,1|0
2,3,87227724,.,A,G,.,PASS,AC=1;AN=5096;DP=62164;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,3,87227912,.,G,A,.,PASS,AC=1526;AN=5096;DP=24556;AF=0.3;EAS_AF=0.3;EUR...,GT,0|0,...,0|0,0|0,0|1,0|1,0|0,0|1,0|0,0|0,0|0,1|1
4,3,87229027,.,T,A,.,PASS,AC=35;AN=5096;DP=18530;AF=0.01;EAS_AF=0.03;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,3,87252524,.,C,T,.,PASS,AC=2346;AN=5096;DP=20405;AF=0.46;EAS_AF=0.51;E...,GT,1|1,...,1|1,1|1,0|0,1|0,1|0,1|0,1|1,1|1,0|1,0|0
102,3,87253551,.,C,T,.,PASS,AC=2;AN=5096;DP=192296;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,0|0,0|0
103,3,87253823,.,T,A,.,PASS,AC=1;AN=5096;DP=206882;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
104,3,87255319,.,A,G,.,PASS,AC=4;AN=5096;DP=24103;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
105,3,87255411,.,G,A,.,PASS,AC=1280;AN=5096;DP=25130;AF=0.25;EAS_AF=0.34;E...,GT,0|1,...,0|1,1|1,0|0,1|0,1|0,1|0,0|0,0|1,0|1,0|0

In [32]:
# Function to count substring in a row, looping through all cell in the row
def count_each_row(row, substr):
    count = 0  # first, initialize count to zero
    for cell in row:
        if pd.isna(cell):
            continue # if the cell is None, go to the next cell in the row
        if not isinstance(cell, str):
            continue # if the cell is not a string, go to the next cell in the row
        if cell == substr:
            count = count + 1 # if the cell matches the inpug substring, then increases the count by 1
            
    return count # return the total count

In [33]:
df['c00'] = df.apply(count_each_row, axis=1, substr="0|0")

In [34]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00
0,3,87227469,.,C,A,.,PASS,AC=1;AN=5096;DP=136903;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
1,3,87227549,.,C,T,.,PASS,AC=549;AN=5096;DP=276161;AF=0.11;EAS_AF=0.18;E...,GT,0|0,...,0|0,0|1,0|0,0|0,0|1,0|0,0|0,0|0,1|0,73
2,3,87227724,.,A,G,.,PASS,AC=1;AN=5096;DP=62164;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
3,3,87227912,.,G,A,.,PASS,AC=1526;AN=5096;DP=24556;AF=0.3;EAS_AF=0.3;EUR...,GT,0|0,...,0|0,0|1,0|1,0|0,0|1,0|0,0|0,0|0,1|1,60
4,3,87229027,.,T,A,.,PASS,AC=35;AN=5096;DP=18530;AF=0.01;EAS_AF=0.03;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,96

In [35]:
df['c10'] = df.apply(count_each_row, axis=1, substr="1|0")

In [36]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10
0,3,87227469,.,C,A,.,PASS,AC=1;AN=5096;DP=136903;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1
1,3,87227549,.,C,T,.,PASS,AC=549;AN=5096;DP=276161;AF=0.11;EAS_AF=0.18;E...,GT,0|0,...,0|1,0|0,0|0,0|1,0|0,0|0,0|0,1|0,73,13
2,3,87227724,.,A,G,.,PASS,AC=1;AN=5096;DP=62164;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1
3,3,87227912,.,G,A,.,PASS,AC=1526;AN=5096;DP=24556;AF=0.3;EAS_AF=0.3;EUR...,GT,0|0,...,0|1,0|1,0|0,0|1,0|0,0|0,0|0,1|1,60,18
4,3,87229027,.,T,A,.,PASS,AC=35;AN=5096;DP=18530;AF=0.01;EAS_AF=0.03;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,96,1

In [37]:
df['c01'] = df.apply(count_each_row, axis=1, substr="0|1")

In [38]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01
0,3,87227469,.,C,A,.,PASS,AC=1;AN=5096;DP=136903;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0
1,3,87227549,.,C,T,.,PASS,AC=549;AN=5096;DP=276161;AF=0.11;EAS_AF=0.18;E...,GT,0|0,...,0|0,0|0,0|1,0|0,0|0,0|0,1|0,73,13,10
2,3,87227724,.,A,G,.,PASS,AC=1;AN=5096;DP=62164;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0
3,3,87227912,.,G,A,.,PASS,AC=1526;AN=5096;DP=24556;AF=0.3;EAS_AF=0.3;EUR...,GT,0|0,...,0|1,0|0,0|1,0|0,0|0,0|0,1|1,60,18,14
4,3,87229027,.,T,A,.,PASS,AC=35;AN=5096;DP=18530;AF=0.01;EAS_AF=0.03;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,1|0,0|0,0|0,96,1,2

In [39]:
df['c11'] = df.apply(count_each_row, axis=1, substr="1|1")

In [40]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11
0,3,87227469,.,C,A,.,PASS,AC=1;AN=5096;DP=136903;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0,0
1,3,87227549,.,C,T,.,PASS,AC=549;AN=5096;DP=276161;AF=0.11;EAS_AF=0.18;E...,GT,0|0,...,0|0,0|1,0|0,0|0,0|0,1|0,73,13,10,3
2,3,87227724,.,A,G,.,PASS,AC=1;AN=5096;DP=62164;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0,0
3,3,87227912,.,G,A,.,PASS,AC=1526;AN=5096;DP=24556;AF=0.3;EAS_AF=0.3;EUR...,GT,0|0,...,0|0,0|1,0|0,0|0,0|0,1|1,60,18,14,7
4,3,87229027,.,T,A,.,PASS,AC=35;AN=5096;DP=18530;AF=0.01;EAS_AF=0.03;EUR...,GT,0|0,...,0|0,0|0,0|0,1|0,0|0,0|0,96,1,2,0

# Create a new column for the count of the number of 1's

In [41]:
df['c1s'] = df['c10'] + df['c01'] + 2 * df['c11']

In [42]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,3,87227469,.,C,A,.,PASS,AC=1;AN=5096;DP=136903;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
1,3,87227549,.,C,T,.,PASS,AC=549;AN=5096;DP=276161;AF=0.11;EAS_AF=0.18;E...,GT,0|0,...,0|1,0|0,0|0,0|0,1|0,73,13,10,3,29
2,3,87227724,.,A,G,.,PASS,AC=1;AN=5096;DP=62164;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
3,3,87227912,.,G,A,.,PASS,AC=1526;AN=5096;DP=24556;AF=0.3;EAS_AF=0.3;EUR...,GT,0|0,...,0|1,0|0,0|0,0|0,1|1,60,18,14,7,46
4,3,87229027,.,T,A,.,PASS,AC=35;AN=5096;DP=18530;AF=0.01;EAS_AF=0.03;EUR...,GT,0|0,...,0|0,0|0,1|0,0|0,0|0,96,1,2,0,3

In [43]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,3,87227469,.,C,A,.,PASS,AC=1;AN=5096;DP=136903;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
1,3,87227549,.,C,T,.,PASS,AC=549;AN=5096;DP=276161;AF=0.11;EAS_AF=0.18;E...,GT,0|0,...,0|1,0|0,0|0,0|0,1|0,73,13,10,3,29
2,3,87227724,.,A,G,.,PASS,AC=1;AN=5096;DP=62164;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
3,3,87227912,.,G,A,.,PASS,AC=1526;AN=5096;DP=24556;AF=0.3;EAS_AF=0.3;EUR...,GT,0|0,...,0|1,0|0,0|0,0|0,1|1,60,18,14,7,46
4,3,87229027,.,T,A,.,PASS,AC=35;AN=5096;DP=18530;AF=0.01;EAS_AF=0.03;EUR...,GT,0|0,...,0|0,0|0,1|0,0|0,0|0,96,1,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,3,87252524,.,C,T,.,PASS,AC=2346;AN=5096;DP=20405;AF=0.46;EAS_AF=0.51;E...,GT,1|1,...,1|0,1|1,1|1,0|1,0|0,23,18,25,33,109
102,3,87253551,.,C,T,.,PASS,AC=2;AN=5096;DP=192296;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,1|0,0|0,0|0,0|0,0|0,97,1,1,0,2
103,3,87253823,.,T,A,.,PASS,AC=1;AN=5096;DP=206882;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
104,3,87255319,.,A,G,.,PASS,AC=4;AN=5096;DP=24103;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
105,3,87255411,.,G,A,.,PASS,AC=1280;AN=5096;DP=25130;AF=0.25;EAS_AF=0.34;E...,GT,0|1,...,1|0,0|0,0|1,0|1,0|0,38,19,28,14,75

# Save the output file to output folder

In [44]:
df.to_csv(outfile, index=False)