In [13]:
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
from os.path import join
from pathlib import Path

## 1. Compare between 2 lists (populations)
### Each list has 34 numbers (each number represents the mean amount of variant counts per gene, across all genomes)

In [14]:
root_dir = join(Path.home(),"cp_als")

In [15]:
def mean_variant_count(infile,genome_ids):
    df=pd.read_csv(infile)
    df = df[["gene"]+ genome_ids ]
    g_df = df.groupby(["gene"]).sum().sum(axis=1)
    g_df = g_df /len(genome_ids)
    rdf= pd.DataFrame()
    rdf['mean']= g_df / len(genome_ids)
    rdf.head()
    return rdf

In [16]:
khv_genome_ids = ['HG02069', 'HG01846', 'HG02078', 'HG01851', 'HG01865', 'HG01862', 'HG02137', 'HG02050', 'HG02019', 'HG02029', 'HG02522', 'HG01850', 'HG02072', 'HG02139', 'HG02058', 'HG02081', 'HG01858', 'HG01867', 'HG02032', 'HG02122', 'HG01860', 'HG02016', 'HG01869', 'HG02061', 'HG02084', 'HG01852', 'HG02026', 'HG02521', 'HG01848', 'HG02130', 'HG02140', 'HG02113', 'HG02075', 'HG01598', 'HG02047', 'HG02121', 'HG01599', 'HG02136', 'HG01863', 'HG01874', 'HG02138', 'HG02025', 'HG01844', 'HG01845', 'HG02049', 'HG01870', 'HG02133', 'HG02088', 'HG02028', 'HG02076', 'HG01842', 'HG02023', 'HG02142', 'HG02035', 'HG02085', 'HG02086', 'HG02513', 'HG01873', 'HG02134', 'HG01871', 'HG01600', 'HG01868', 'HG02060', 'HG01878', 'HG02020', 'HG02127', 'HG01864', 'HG01595', 'HG02048', 'HG01847', 'HG01859', 'HG01861', 'HG01849', 'HG01843', 'HG02031', 'HG02512', 'HG01857', 'HG01853', 'HG02082', 'HG02073', 'HG02128', 'HG01855', 'HG02064', 'HG02040', 'HG02087', 'HG01597', 'HG02079', 'HG01872', 'HG02070', 'HG02131', 'HG02017', 'HG01866', 'HG02116', 'HG01840', 'HG01841', 'HG01596', 'HG02141', 'HG02067', 'HG02057']

In [17]:
khv_infile = join(root_dir,"populations/output/KHV/all.csv")
khv = mean_variant_count(infile = khv_infile,genome_ids = khv_genome_ids)
khv.head()

              mean
gene
ALS2      0.152535
ANG       0.021324
ATXN2     0.060198
C19ORF12  0.088971
C9ORF72   0.161412

In [18]:
jpt_genome_ids = ['NA18999', 'NA18960', 'NA18976', 'NA19081', 'NA18987', 'NA18985', 'NA19077', 'NA19006', 'NA18948', 'NA19009', 'NA18959', 'NA19060', 'NA19091', 'NA18965', 'NA19059', 'NA19003', 'NA19000', 'NA18941', 'NA19076', 'NA19080', 'NA18994', 'NA18973', 'NA18974', 'NA18961', 'NA19063', 'NA18979', 'NA18947', 'NA19087', 'NA18981', 'NA19064', 'NA18945', 'NA19082', 'NA19070', 'NA18972', 'NA18949', 'NA18975', 'NA18989', 'NA18967', 'NA19083', 'NA18997', 'NA18966', 'NA19090', 'NA18983', 'NA18952', 'NA19062', 'NA19012', 'NA18955', 'NA18940', 'NA19004', 'NA18970', 'NA18946', 'NA18971', 'NA18988', 'NA18977', 'NA18980', 'NA18939', 'NA19088', 'NA18957', 'NA19065', 'NA19078', 'NA19074', 'NA18968', 'NA18982', 'NA19011', 'NA18995', 'NA19054', 'NA18990', 'NA18978', 'NA18943', 'NA19066', 'NA18953', 'NA19056', 'NA18962', 'NA19072', 'NA19068', 'NA18964', 'NA19067', 'NA18951', 'NA18992', 'NA19057', 'NA18963', 'NA19089', 'NA18984', 'NA18956', 'NA19002', 'NA18993', 'NA19055', 'NA18969', 'NA19005', 'NA19007', 'NA19010', 'NA19079', 'NA18991', 'NA18986', 'NA18942', 'NA19058', 'NA18944', 'NA19084', 'NA19075', 'NA18950', 'NA19086', 'NA19085', 'NA19001', 'NA18954', 'NA18998']

In [19]:
jpt_infile = join(root_dir,"populations/output/JPT/all.csv")
jpt = mean_variant_count(infile = jpt_infile,genome_ids = jpt_genome_ids)
jpt.head()

              mean
gene
ALS2      0.111655
ANG       0.028118
ATXN2     0.075556
C19ORF12  0.079728
C9ORF72   0.125533

In [27]:
asw_genome_ids = ['NA20359', 'NA19713', 'NA20342', 'NA20289', 'NA19982', 'NA20281', 'NA19703', 'NA19711', 'NA20351', 'NA19712', 'NA20317', 'NA19818', 'NA19923', 'NA19921', 'NA20126', 'NA20357', 'NA20294', 'NA19819', 'NA20298', 'NA19917', 'NA20340', 'NA20314', 'NA19701', 'NA20346', 'NA19834', 'NA19908', 'NA20412', 'NA20282', 'NA19835', 'NA20356', 'NA20348', 'NA19707', 'NA19900', 'NA19984', 'NA20127', 'NA20339', 'NA19916', 'NA19904', 'NA19909', 'NA20287', 'NA20278', 'NA20332', 'NA20276', 'NA19920', 'NA19625', 'NA20334', 'NA20291', 'NA20299', 'NA19922', 'NA19901', 'NA20296', 'NA19914', 'NA19704', 'NA19700']

In [28]:
asw_infile = join(root_dir,"populations/output/ASW/all.csv")
asw = mean_variant_count(infile = asw_infile,genome_ids = asw_genome_ids)
asw.head()

              mean
gene
ALS2      0.393004
ANG       0.123800
ATXN2     1.868999
C19ORF12  0.345336
C9ORF72   0.347394

In [29]:
fin_genome_ids = ['HG00349', 'HG00327', 'HG00266', 'HG00323', 'HG00368', 'HG00326', 'HG00270', 'HG00321', 'HG00337', 'HG00189', 'HG00272', 'HG00382', 'HG00364', 'HG00304', 'HG00339', 'HG00330', 'HG00355', 'HG00186', 'HG00308', 'HG00353', 'HG00285', 'HG00273', 'HG00371', 'HG00274', 'HG00375', 'HG00282', 'HG00346', 'HG00345', 'HG00325', 'HG00367', 'HG00183', 'HG00366', 'HG00358', 'HG00275', 'HG00177', 'HG00178', 'HG00338', 'HG00319', 'HG00311', 'HG00381', 'HG00334', 'HG00277', 'HG00369', 'HG00324', 'HG00267', 'HG00372', 'HG00342', 'HG00284', 'HG00190', 'HG00181', 'HG00356', 'HG00180', 'HG00176', 'HG00271', 'HG00362', 'HG00288', 'HG00384', 'HG00182', 'HG00376', 'HG00336', 'HG00350', 'HG00318', 'HG00188', 'HG00344', 'HG00315', 'HG00269', 'HG00335', 'HG00179', 'HG00377', 'HG00185', 'HG00359', 'HG00383', 'HG00380', 'HG00276', 'HG00268', 'HG00332', 'HG00278', 'HG00365', 'HG00281', 'HG00343', 'HG00351', 'HG00187', 'HG00373', 'HG00320', 'HG00310', 'HG00171', 'HG00313', 'HG00357', 'HG00361', 'HG00379', 'HG00378', 'HG00309', 'HG00328', 'HG00290', 'HG00331', 'HG00329', 'HG00174', 'HG00312', 'HG00306', 'HG00341', 'HG00360', 'HG00280', 'HG00173']

In [30]:
fin_infile = join(root_dir,"populations/output/FIN/all.csv")
fin = mean_variant_count(infile = fin_infile,genome_ids = fin_genome_ids)
fin.head()

              mean
gene
ALS2      0.086436
ANG       0.047507
ATXN2     0.126591
C19ORF12  0.090206
C9ORF72   0.198982

## T-test on Vietnamese (KHV) and Japanese (JPT) populations

In [22]:
t_statistic, p_value = stats.ttest_ind(khv['mean'], jpt['mean'], equal_var=True)
print(f"\nTwo-Sample Independent T-Test:")
print(f"T-statistic: {t_statistic:.4f}")
print(f"P-value: {p_value:.4f}")

Two-Sample Independent T-Test:
T-statistic: 0.1777
P-value: 0.8595

## T-test on Vietnamese (KHV) and Finland (FIN) populations

In [32]:
t_statistic, p_value = stats.ttest_ind(khv['mean'], fin['mean'], equal_var=True)
print(f"\nTwo-Sample Independent T-Test:")
print(f"T-statistic: {t_statistic:.4f}")
print(f"P-value: {p_value:.4f}")

Two-Sample Independent T-Test:
T-statistic: -0.3998
P-value: 0.6905

## T-test on Vietnamese (KHV) and African Ancestry in SW USA (ASW) populations

In [33]:
t_statistic, p_value = stats.ttest_ind(khv['mean'], asw['mean'], equal_var=True)
print(f"\nTwo-Sample Independent T-Test:")
print(f"T-statistic: {t_statistic:.4f}")
print(f"P-value: {p_value:.4f}")

Two-Sample Independent T-Test:
T-statistic: -1.3211
P-value: 0.1908