In [23]:
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
from os.path import join
from scipy.stats import tukey_hsd
from pathlib import Path

## 1. Compare between 2 lists (populations)
### Each list has 34 numbers (each number represents the mean amount of variant counts per gene, across all genomes)

In [2]:
khv_genome_ids = ['HG02069', 'HG01846', 'HG02078', 'HG01851', 'HG01865', 'HG01862', 'HG02137', 'HG02050', 'HG02019', 'HG02029', 'HG02522', 'HG01850', 'HG02072', 'HG02139', 'HG02058', 'HG02081', 'HG01858', 'HG01867', 'HG02032', 'HG02122', 'HG01860', 'HG02016', 'HG01869', 'HG02061', 'HG02084', 'HG01852', 'HG02026', 'HG02521', 'HG01848', 'HG02130', 'HG02140', 'HG02113', 'HG02075', 'HG01598', 'HG02047', 'HG02121', 'HG01599', 'HG02136', 'HG01863', 'HG01874', 'HG02138', 'HG02025', 'HG01844', 'HG01845', 'HG02049', 'HG01870', 'HG02133', 'HG02088', 'HG02028', 'HG02076', 'HG01842', 'HG02023', 'HG02142', 'HG02035', 'HG02085', 'HG02086', 'HG02513', 'HG01873', 'HG02134', 'HG01871', 'HG01600', 'HG01868', 'HG02060', 'HG01878', 'HG02020', 'HG02127', 'HG01864', 'HG01595', 'HG02048', 'HG01847', 'HG01859', 'HG01861', 'HG01849', 'HG01843', 'HG02031', 'HG02512', 'HG01857', 'HG01853', 'HG02082', 'HG02073', 'HG02128', 'HG01855', 'HG02064', 'HG02040', 'HG02087', 'HG01597', 'HG02079', 'HG01872', 'HG02070', 'HG02131', 'HG02017', 'HG01866', 'HG02116', 'HG01840', 'HG01841', 'HG01596', 'HG02141', 'HG02067', 'HG02057']

In [3]:
root_dir = join(Path.home(),"cp_als")

In [4]:
khv_infile = join(root_dir,"populations/output/KHV/all.csv")
khv_df=pd.read_csv(khv_infile)
khv_df = khv_df[["gene"]+ khv_genome_ids ]
khv_df.head()

,gene,HG02069,HG01846,HG02078,HG01851,HG01865,HG01862,HG02137,HG02050,HG02019,...,HG02131,HG02017,HG01866,HG02116,HG01840,HG01841,HG01596,HG02141,HG02067,HG02057
0,TARDBP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,TARDBP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,TARDBP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,TARDBP,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,TARDBP,0,0,0,0,1,0,1,1,1,...,0,1,1,0,0,0,0,0,0,0

In [5]:
jpt_genome_ids = ['NA18999', 'NA18960', 'NA18976', 'NA19081', 'NA18987', 'NA18985', 'NA19077', 'NA19006', 'NA18948', 'NA19009', 'NA18959', 'NA19060', 'NA19091', 'NA18965', 'NA19059', 'NA19003', 'NA19000', 'NA18941', 'NA19076', 'NA19080', 'NA18994', 'NA18973', 'NA18974', 'NA18961', 'NA19063', 'NA18979', 'NA18947', 'NA19087', 'NA18981', 'NA19064', 'NA18945', 'NA19082', 'NA19070', 'NA18972', 'NA18949', 'NA18975', 'NA18989', 'NA18967', 'NA19083', 'NA18997', 'NA18966', 'NA19090', 'NA18983', 'NA18952', 'NA19062', 'NA19012', 'NA18955', 'NA18940', 'NA19004', 'NA18970', 'NA18946', 'NA18971', 'NA18988', 'NA18977', 'NA18980', 'NA18939', 'NA19088', 'NA18957', 'NA19065', 'NA19078', 'NA19074', 'NA18968', 'NA18982', 'NA19011', 'NA18995', 'NA19054', 'NA18990', 'NA18978', 'NA18943', 'NA19066', 'NA18953', 'NA19056', 'NA18962', 'NA19072', 'NA19068', 'NA18964', 'NA19067', 'NA18951', 'NA18992', 'NA19057', 'NA18963', 'NA19089', 'NA18984', 'NA18956', 'NA19002', 'NA18993', 'NA19055', 'NA18969', 'NA19005', 'NA19007', 'NA19010', 'NA19079', 'NA18991', 'NA18986', 'NA18942', 'NA19058', 'NA18944', 'NA19084', 'NA19075', 'NA18950', 'NA19086', 'NA19085', 'NA19001', 'NA18954', 'NA18998']

In [6]:
jpt_infile = join(root_dir,"populations/output/JPT/all.csv")
jpt_df=pd.read_csv(jpt_infile)
jpt_df = jpt_df[["gene"]+ jpt_genome_ids ]
jpt_df.head()

,gene,NA18999,NA18960,NA18976,NA19081,NA18987,NA18985,NA19077,NA19006,NA18948,...,NA19058,NA18944,NA19084,NA19075,NA18950,NA19086,NA19085,NA19001,NA18954,NA18998
0,TARDBP,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,1,1,1
1,TARDBP,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,1,1,1
2,TARDBP,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,1
3,TARDBP,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,1,0,1
4,TARDBP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## T-test on Vietnamese (KHV) and Japanese (JPT) populations

In [7]:
g_khv_df = khv_df.groupby(["gene"]).sum().sum(axis=1)
g_khv_df = g_khv_df /len(khv_genome_ids)
khv = pd.DataFrame()
khv['mean']= g_khv_df / len(khv_genome_ids)
khv.head()

              mean
gene
ALS2      0.152535
ANG       0.021324
ATXN2     0.060198
C19ORF12  0.088971
C9ORF72   0.161412

In [8]:
g_jpt_df = jpt_df.groupby(["gene"]).sum().sum(axis=1)
g_jpt_df = g_jpt_df / len(jpt_genome_ids)
jpt = pd.DataFrame()
jpt['mean']= g_jpt_df / len(jpt_genome_ids)
jpt.head()

              mean
gene
ALS2      0.111655
ANG       0.028118
ATXN2     0.075556
C19ORF12  0.079728
C9ORF72   0.125533

In [9]:
t_statistic, p_value = stats.ttest_ind(khv['mean'], jpt['mean'], equal_var=True)
print(f"\nTwo-Sample Independent T-Test:")
print(f"T-statistic: {t_statistic:.4f}")
print(f"P-value: {p_value:.4f}")

Two-Sample Independent T-Test:
T-statistic: 0.1777
P-value: 0.8595

## T-test on Vietnamese (KHV) and Finland (FIN) populations

In [10]:
fin_genome_ids = ['HG00349', 'HG00327', 'HG00266', 'HG00323', 'HG00368', 'HG00326', 'HG00270', 'HG00321', 'HG00337', 'HG00189', 'HG00272', 'HG00382', 'HG00364', 'HG00304', 'HG00339', 'HG00330', 'HG00355', 'HG00186', 'HG00308', 'HG00353', 'HG00285', 'HG00273', 'HG00371', 'HG00274', 'HG00375', 'HG00282', 'HG00346', 'HG00345', 'HG00325', 'HG00367', 'HG00183', 'HG00366', 'HG00358', 'HG00275', 'HG00177', 'HG00178', 'HG00338', 'HG00319', 'HG00311', 'HG00381', 'HG00334', 'HG00277', 'HG00369', 'HG00324', 'HG00267', 'HG00372', 'HG00342', 'HG00284', 'HG00190', 'HG00181', 'HG00356', 'HG00180', 'HG00176', 'HG00271', 'HG00362', 'HG00288', 'HG00384', 'HG00182', 'HG00376', 'HG00336', 'HG00350', 'HG00318', 'HG00188', 'HG00344', 'HG00315', 'HG00269', 'HG00335', 'HG00179', 'HG00377', 'HG00185', 'HG00359', 'HG00383', 'HG00380', 'HG00276', 'HG00268', 'HG00332', 'HG00278', 'HG00365', 'HG00281', 'HG00343', 'HG00351', 'HG00187', 'HG00373', 'HG00320', 'HG00310', 'HG00171', 'HG00313', 'HG00357', 'HG00361', 'HG00379', 'HG00378', 'HG00309', 'HG00328', 'HG00290', 'HG00331', 'HG00329', 'HG00174', 'HG00312', 'HG00306', 'HG00341', 'HG00360', 'HG00280', 'HG00173']

In [11]:
fin_infile = join(root_dir,"populations/output/FIN/all.csv")
fin_df=pd.read_csv(fin_infile)
fin_df = fin_df[["gene"]+ fin_genome_ids ]
fin_df.head()

,gene,HG00349,HG00327,HG00266,HG00323,HG00368,HG00326,HG00270,HG00321,HG00337,...,HG00290,HG00331,HG00329,HG00174,HG00312,HG00306,HG00341,HG00360,HG00280,HG00173
0,TARDBP,0,0,0,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
1,TARDBP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,TARDBP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,TARDBP,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,TARDBP,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
g_fin_df = fin_df.groupby(["gene"]).sum().sum(axis=1)
g_fin_df = g_fin_df /len(fin_genome_ids)
fin = pd.DataFrame()
fin['mean']= g_fin_df / len(fin_genome_ids)
fin.head()

              mean
gene
ALS2      0.086436
ANG       0.047507
ATXN2     0.126591
C19ORF12  0.090206
C9ORF72   0.198982

In [13]:
t_statistic, p_value = stats.ttest_ind(khv['mean'], fin['mean'], equal_var=True)
print(f"\nTwo-Sample Independent T-Test:")
print(f"T-statistic: {t_statistic:.4f}")
print(f"P-value: {p_value:.4f}")

Two-Sample Independent T-Test:
T-statistic: -0.3998
P-value: 0.6905

# Debug variant counts before using t test

In [14]:
g_khv_df = khv_df.groupby(["gene"]).sum().sum(axis=1)
g_khv_df = g_khv_df /len(khv_genome_ids)
khv = pd.DataFrame()
khv['mean']= g_khv_df / len(khv_genome_ids)
khv.head()

              mean
gene
ALS2      0.152535
ANG       0.021324
ATXN2     0.060198
C19ORF12  0.088971
C9ORF72   0.161412

In [15]:
g_khv_df = khv_df.groupby(["gene"]).sum()

In [16]:
g_khv_df

,HG02069,HG01846,HG02078,HG01851,HG01865,HG01862,HG02137,HG02050,HG02019,HG02029,...,HG02131,HG02017,HG01866,HG02116,HG01840,HG01841,HG01596,HG02141,HG02067,HG02057
gene,,,,,,,,,,,,,,,,,,,,,
ALS2,4,20,2,7,24,46,21,22,21,61,...,23,6,22,62,24,5,5,3,23,5
ANG,0,1,0,6,8,0,1,0,0,5,...,0,0,8,1,0,2,4,16,1,0
ATXN2,6,4,4,7,12,16,20,6,1,5,...,3,4,5,2,5,7,1,8,8,6
C19ORF12,11,5,1,13,11,2,4,12,9,7,...,11,6,14,10,9,6,7,10,6,4
C9ORF72,14,23,15,12,11,24,13,22,12,32,...,22,2,33,10,3,32,3,12,2,12
CHCHD10,1,0,1,2,1,1,1,0,0,1,...,1,0,1,0,1,0,0,1,0,0
CHMP2B,14,4,8,7,1,12,5,6,9,10,...,8,12,0,9,7,2,6,9,9,1
CHRNA3,23,24,16,28,19,19,15,13,25,25,...,17,22,5,23,5,21,34,17,34,20
CREST,103,3,4,1,88,0,3,88,19,3,...,2,89,99,88,4,18,2,4,12,91
DAO,3,1,8,6,2,7,2,2,5,1,...,2,2,2,1,2,3,1,1,8,2
DCTN1,0,1,2,0,1,0,2,2,0,1,...,1,1,0,4,1,2,4,0,4,4
ELP3,26,17,43,25,11,26,37,25,28,12,...,34,18,6,13,15,14,34,17,35,24
ERBB4,251,596,687,427,230,546,689,345,684,229,...,658,241,448,611,319,443,171,440,482,353
EWSR1,11,9,4,7,10,7,10,10,12,2,...,18,9,7,4,2,7,8,8,9,8
FIG4,51,24,20,69,44,39,4,13,62,53,...,58,69,47,43,26,34,19,42,44,31
FUS,1,0,5,3,4,4,3,4,4,0,...,4,4,5,2,3,0,0,4,4,4
MATR3,1,1,3,0,4,27,3,27,4,30,...,4,1,29,2,27,27,29,28,27,3
NEFH,3,2,3,1,1,2,5,2,3,2,...,1,2,2,3,1,1,0,4,9,3
NEK1,188,39,233,186,190,6,187,188,40,185,...,188,10,40,184,44,3,9,45,190,11
OPTN,30,24,7,12,37,17,22,17,6,22,...,24,22,23,21,21,23,22,5,8,27
PFN1,0,0,0,4,1,0,0,3,0,0,...,2,3,4,0,2,0,0,0,0,0
PNPLA6,13,10,11,15,5,7,15,1,15,15,...,16,3,2,12,2,4,2,2,15,3
PON1-3,7,6,2,9,0,9,6,9,19,3,...,13,22,6,19,5,5,1,19,16,1
PRPH,6,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
SETX,28,52,27,54,57,55,37,12,41,28,...,49,41,25,8,43,39,7,69,51,55
SIGMAR1,0,3,0,1,1,1,0,0,1,0,...,1,1,1,1,1,0,0,1,0,0
SOD1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,1,0,0,0
SPG11,50,60,58,2,93,91,60,5,3,50,...,4,4,5,51,89,98,2,3,117,60
SQSTM1,15,9,10,6,9,7,4,5,12,14,...,10,15,8,9,9,13,3,4,9,6
TAF15,36,0,2,1,2,27,27,26,29,2,...,24,2,1,2,39,18,25,38,25,4
TARDBP,0,1,1,3,5,0,6,6,6,1,...,0,6,6,1,0,1,0,0,0,2
TUBA4A,0,0,0,0,0,4,0,0,0,0,...,0,5,4,1,0,0,0,0,4,0
VAPB,38,35,25,59,17,39,39,27,25,26,...,36,4,25,18,16,24,3,8,16,24
VCP,1,13,1,8,0,3,0,0,1,1,...,4,0,1,2,1,12,1,0,4,0
hnRNPA2B1,0,1,7,1,7,6,3,10,0,8,...,1,1,6,5,4,2,2,1,6,2
hnRNPa1,0,0,0,0,1,0,0,1,4,0,...,0,0,0,0,0,0,0,1,0,0

In [17]:
g_khv_df = khv_df.groupby(["gene"]).sum().sum(axis=1)
khv = pd.DataFrame()
khv['count']= g_khv_df 
khv.head()

          count
gene
ALS2       1495
ANG         209
ATXN2       590
C19ORF12    872
C9ORF72    1582

## For example, a list for KHV would have 99 numbers since there are 99 genomes. One number (representing a genome) would be the mean amount of variant counts across all genes for that genome.

In [20]:
g_khv_df = khv_df.groupby(["gene"]).sum().sum() / len(khv_genome_ids)
g_khv_df

HG02069     9.444444
HG01846     9.979798
HG02078    12.222222
HG01851     9.919192
HG01865     9.161616
             ...
HG01841     8.757576
HG01596     4.101010
HG02141     8.282828
HG02067    11.898990
HG02057     7.737374
Length: 99, dtype: float64

In [21]:
g_fin_df = fin_df.groupby(["gene"]).sum().sum() / len(fin_genome_ids)
g_fin_df

HG00349     8.427184
HG00327    11.553398
HG00266    14.126214
HG00323    13.669903
HG00368    12.728155
             ...
HG00306    12.466019
HG00341    14.951456
HG00360    15.019417
HG00280    10.427184
HG00173    11.699029
Length: 103, dtype: float64

In [22]:
g_jpt_df = jpt_df.groupby(["gene"]).sum().sum() / len(jpt_genome_ids)
g_jpt_df

NA18999     9.761905
NA18960    10.342857
NA18976    10.380952
NA19081     9.028571
NA18987     6.780952
             ...
NA19086     5.266667
NA19085     5.066667
NA19001     8.828571
NA18954     8.457143
NA18998     7.952381
Length: 105, dtype: float64

In [26]:
result = tukey_hsd(g_khv_df.values,g_fin_df.values,g_jpt_df.values)

In [27]:
print (result)

Tukey's HSD Pairwise Group Comparisons (95.0% Confidence Interval)
Comparison  Statistic  p-value  Lower CI  Upper CI
 (0 - 1)     -3.880     0.000    -4.573    -3.187
 (0 - 2)      1.040     0.001     0.351     1.730
 (1 - 0)      3.880     0.000     3.187     4.573
 (1 - 2)      4.920     0.000     4.237     5.603
 (2 - 0)     -1.040     0.001    -1.730    -0.351
 (2 - 1)     -4.920     0.000    -5.603    -4.237